// SlideshowContainer End Card

.SlideshowContainer {

    &__EndCardItemIconContainer {

        position: absolute;
        right: 0px;
        top: 0px;
        width: 30px;
        z-index: 2;

        @include Themer(background, Black);
        @include Themer(color, White);

        .Icn_Gallery {

            &::before {

                color: white;
                font-size: 30px;

            }
        }
    }
}
