// SlideshowContainer End Card

%SlideshowContainer {

    &__EndCardItem {

        display: block;
        height: 100%;
        max-width: 209px;
        position: relative;
        position: relative;
        text-decoration: none;
        width: 100%;

    }
}
