// GalleryLight Slider

%GalleryLight {
	
	&__SliderContainer {
		
		display: flex;
		height: 100%;
		justify-content: center;
		min-height: 100px;
		width: 100%;
		
		@include Spacer(padding, all, md);
		
	}
}


