// HighImpact Justified Left TypeC Slider Core

.HighImpactJustifiedLeftTypeC {

    &__Slider {

        margin: 0px auto;
        min-height: 305px;
        position: relative;
        width: 100%;

    }
}
