// HighImpact Justified Left TypeC Slider Track

.HighImpactJustifiedLeftTypeC {

    &__SliderTrack {

        height: 100%;
        width: 100%;
        padding: 100% 0% 0% 0%;

        @include Morpher(All-Desktop) {

            padding: 0px;

        }
    }
}
