// Article ShareBar Container

%Article {

    &__ShareBar {

        display: flex;
        flex-grow: 1;
        justify-content: flex-start;

        @include Spacer(padding, all, zero);

        @include Morpher(All-Desktop) {

            justify-content: flex-end;

            @include Spacer(padding, all, md);

        }
    }
}
