// VideoContainer EndCardThumbItem

%VideoContainer {

    &__EndCardThumbsContainer {

      	display: none;

      	@include Morpher(All-Desktop) {

          	display: flex;
            bottom: 5%;
            justify-content: space-between;
            position: absolute;
            width: 100%;
            z-index: 1;

      	}

      	@include Morpher(Laptop) {

  			    display: none;

      	}
    }
}
