// PromoCards Show Graphic

.PromoCards {
    
    @include WidgetBottomSpace;

    &__CarouselItemShowGraphicContainer {

        bottom: 5px;
        position: absolute;
        width: 100%;
        z-index: 2;

		@include Spekter(16_9, transparent);

    }
}
