// TvGuideBold Carousel Track

.TvGuideBold {

    &__CarouselTrack {

        display: flex;
        height: 85px;
        margin: 0px auto;
        overflow: hidden;

        @include Morpher(Tablet) {

            height: 90px;

        }

        @include Morpher(All-Desktop) {

            height: 90px;

        }
    }
}
