// SlideshowContainer Share Bar Core

.SlideshowContainer {

    &__ShareBar {

        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        margin: 0px auto;
        width: auto;

    }

    &__ShareContainer {

        @include Morpher(Smartphone) {

            position: absolute;
            right: 18px;
            top: 18px;
            width: auto;

        }

        @include Morpher(Tablet) {

            position: absolute;
            right: 18px;
            top: 18px;
            width: auto;

        }
    }
}
