// SlideshowContainer Share Bar Desktop

.SlideshowContainer {

    &__ShareBarDesktop {

        display: none;

        @include Morpher(Tablet) {

            display: none;

        }

        @include Morpher(All-Desktop) {

            align-items: center;
            display: flex;
            height: 45px;
            justify-content: center;
            padding: 0px 1em;
            width: auto;

            @include Themer(border, Color-7, "solid 1px");

        }
    }
}
