// Menu LinksContainer Core

.Menu {

    &__LinksContainer {

        align-items: center;
        color: white;
        display: flex;
        grid-area: Links;
        justify-content: center;
        text-decoration: none;

    }
}
