// Header Core

.Header {

    &__LiveButtonContainer {

        text-decoration: none;
        padding: 0px 30px;

        @include Hover;

        @include Themer(color, Text-Light-Body);

    }

    &__LiveButton {


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 125px;
        height: 30px;


        border-radius: 14px;

        @include Themer(background, Color-1);

    }

    &__LiveButtonTextContainer {

        position: relative;

        @include Typer(FooterTextCopyright);

        &::before {

            animation: pulsar 2s .5s ease-in-out infinite;
            animation-play-state: running;
            content: '';
            display: block;
            text-transform: uppercase;
            border-radius: 50%;
            height: 7px;
            left: -14px; // Develop
            position: absolute;
            top: 40%;
            width: 7px;
            background: white;

        }


        &::after {

            content: 'En vivo';
            display: block;
            width: 100%;
            text-transform: uppercase;

        }
    }

    &__LiveButtonText {

        width: 100%;
        text-transform: uppercase;

        @include Typer(FooterTextCopyright);
        @include Themer(color, Text-Light-Body);


    }
}
