// EndCard ElementsRelatedButton

%EndCard {

    &__ElementsRelatedButtonContainer {

        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 1;

    }

    &__ElementsRelatedButton {

        cursor: pointer;

        @include Spacer(padding, all, zero);
        @include Hover;

    }
}
