// EndCard ElementsRelatedItem

.EndCard {

    &__ElementsRelatedItemContainer {

        box-shadow: 0px 9px 12px rgba(0,0,0,0.5);
        cursor: pointer;
        display: flex;
        flex-direction: row;
        height: 36px;
        margin: 0px 0px 7px 0px;
        position: relative;
        width: 100%;

        @include Hover;

        @include Morpher(All-Desktop) {

            flex-direction: column;
            height: auto;
            margin: 0px 10px;
            padding: 10px 0px;

        }
    }
}
