// EndCard ElementsRelatedItemText

.EndCard {

    &__ElementsRelatedItemTextContainer {

        box-shadow: none;
        overflow: hidden;
        padding: 5px 10px;
        width: 100%;

        @include Themer(background, Color-1);

        @include Morpher(All-Desktop) {

            box-shadow: 0px 9px 12px rgba(0,0,0,0.5);
            height: 85px;
            overflow: hidden;

        }

    }

    &__ElementsRelatedItemText {

        margin: 0px;

        @include Themer(color, White);
        @include Typer(SubTextCredit);

        @include Morpher(All-Desktop) {

            @include Typer(ItemTitleDescriptionDesktop);

        }

    }
}
