// EndCard ElementsRelatedCore

%EndCard {

    &__ElementsRelatedContainer {

        bottom: 9px;
        display: block;
        flex-direction: column;
        height: 97px;
        max-width: 580px;
        overflow: hidden;
        position: absolute;
        width: 100%;

        @include Spacer(padding, all, xl xl zero);

        @include Morpher(All-Desktop) {

            bottom: 6%;
            display: flex;
            flex-direction: row;
            height: auto;
            justify-content: space-evenly;
            max-width: 700px;

            @include Spacer(padding, all, zero xl);

        }
    }
}
