// Header InnerSearch

.InnerSearch {

    &__BoxContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        padding: 10px;
        width: 100%;

        @include Themer (background,  Color-9);


    }

    &__Box {

        flex-grow: 1;

        @include Themer(border-left, White, "1px solid");

    }
}
