// SocialFollow ShareBar Container

%Share {

    &__Share {

        display: flex;
        height: 70px;
        justify-content: center;
        margin: 0px 4px;
        max-width: 370px;
        width: 22%;

        @include Themer(background, Color-10);

        @include Morpher(Tablet) {

            margin: 0px 2px;
            width: 29%;

        }

        @include Morpher(Laptop) {

            height: 140px;
            margin: 0px 0px 10px 2px;
            width: 100%;

        }

        @include Morpher(Desktop) {

            height: 110px;
            margin: 4px 0px;
            width: 100%;

        }

        @include Morpher(Desktop-HD) {

            height: 160px;
            margin: 4px 0px;
            width: 100%;

        }
    }

    &__ShareContainer {

        height: 100%;
        position: relative;
        width: 100%;

    }
}
