// HighImpactCentered Slider Item Duration

.HighImpactCentered {

    &__SliderItemDurationContainer {

        align-items: center;
        display: flex;
        height: 25px;
        justify-content: center;
        position: absolute;
        top: 74%;
        width: 100%;
        
        @include Morpher(Tablet) {

            height: 70px;
            top: 55%;

        }
        
        @include Morpher(Laptop) {
            
            height: 20px;
            top: 46%;

        }
        
        @include Morpher(Desktop) {
            
            height: 20px;
            top: 52%;

        }
        
        @include Morpher(Desktop-HD) {
            
            height: 20px;
            top: 52%;

        }

    }

    &__SliderItemDuration {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

        @include Morpher(All-Desktop) {

            @include Typer(SubTextInfoDesktop);

        }
    }
}
