// HighImpact Centered Slider Item Caption

.HighImpactCentered {

    &__SliderItemCaption {

        display: block;
        padding: 8px;
        min-height: 90px;

        @include Themer(background, Color-1);

    }

    &__SliderItemCaptionAnchor {

        display: block;
        text-decoration: none;

    }
}
