// HighImpactCentered Slider Item Thumbnail

.HighImpactCentered {

    &__SliderItemThumbnail {

        display: block;
        position: relative;
        text-decoration: none;
        width: 100%;

    }
}
