// HighImpactCentered Slider Item Video

.HighImpactCentered {

    &__SliderItemVideoContainer {

        display: none;
        position: absolute;
        top: 0px;

        @include Spekter(16_9);

    }
}
