// HighImpactCentered Slider Item Core

.HighImpactCentered {

    &__Slider {

        grid-area: Slider;

    }

    &__SliderItem {

        display: block;
        text-decoration: none;
        width: 100%;

    }
}
