// InlineGallery Silder Counter Number

.InlineGallery {
    
    &__SliderCounterNumber {
        
        border-radius: 4px;
        display: inline-block;
        padding: 8px;
        text-align: center;
        width: 80px;
        
        @include Themer(color, Text-Light-Headlines);
        @include Themer(background, Color-6);
        @include Typer(SubTextInfo);
        
        @include Morpher(All-Desktop) {
            
            @include Typer(SubTextInfoDesktop);
            
        }
    }
}
