// InlineGallery Silder Ads Counter

.InlineGallery {

    &__SliderAdsCounterContainer {

        bottom: 25%;
        position: absolute;
        width: 100%;

    }

    &__SliderAdsCounter {

        display: none;
        text-align: center;

        @include Themer(color, Mini-Text-Light);
        @include Typer(ItemTitleDescription);

        @include Morpher(All-Desktop) {

            display: block;

            @include Typer(ItemTitle);

        }
    }
}
