// InlineGallery Silder Ads

.InlineGallery {

    &__SliderAdsContainer {

        display: none;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 3;

        @include Themer(background, Color-9);

    }

    &__SliderAds {

        display: block;
        height: 100%;
        margin: auto;
        position: absolute;
        text-align: center;
        top: 0%;
        width: 100%;

    }

    &__SliderAdsText {

        display: block;
        margin-top: 2%;
        text-align: center;

        @include Themer(color, Mini-Text-Light);
        @include Typer(SubTextInfo);

        @include Morpher(Tablet) {

            margin-top: 8%;

        }

        @include Morpher(All-Desktop) {

            margin-top: 18%;

            @include Typer(SubTextInfoDesktop);

        }
    }
}
