// NewsletterLightBox Conditions

.NewsletterLightBox {

    &__ConditionsContainer {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-content: center;
        margin: 0px auto;
        max-width: 375px;
        padding: 0px;
        position: relative;
        top: 15%;
        width: 100%;
        
    }
}
