// NewsletterLightBox Close

.NewsletterLightBox {

    &__CloseButtonContainer {
        
        cursor: pointer;
        display: flex;
        height: 40px;
        justify-content: flex-end;
        position: absolute;
        right: 4%;
        top: 4%;
        width: 100%;

    }

    .Icn_Close {

        background: none;

        @include Themer(color, White);

    }
}
