// NewsletterLightBox PrivacyText

.NewsletterLightBox {

    &__PrivacyText {
        
        display: flex;
        width: 67%;

        @include Themer(color, White);
        @include Typer(SubTextInfo);
        
        @include Morpher(Tablet) {
            
            width: 57%;
            
        }   
        
        @include Morpher(All-Desktop) {
            
            width: 88%;
            
            @include Typer(ItemTitle);
            
        }        
    }
    
    &__PrivacyAnchor {
        
        margin-left: 3px;
        text-decoration: underline;
        
    }
}
