// NewsletterLightBox Description

.NewsletterLightBox {

    &__DescriptionContainer {
        
        display: flex;
        height: auto;
        margin: 0 auto;
        max-width: 441px;
        padding: 0px 10px;
        position: relative;
        top: 13%;
        width: 100%;
        
        @include Morpher(All-Desktop) {
            
            padding: 0px;
            
        }    
    }
    
    &__Description {
        
        max-width: 500px;
        text-align: center;
        
        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);
        
        @include Morpher(All-Desktop) {
            
            @include Typer(ItemTitleDesktop);
            
        }    
    }
}
