    // RelatedContent3 Share

%RelatedContent3{

    &__Share {

        @include Spacer(margin, all, md auto);

        @include Morpher (All-Desktop) {

        }
    }

    &__ShareList {

        @include Spacer(padding, all, zero);

    }

    &__ShareItem {

        display: inline-block;
        list-style: none;

        @include Spacer(padding, all, zero md zero zero);

    }

    &__ShareLink {

        text-decoration: none;

        &::before {

            font-size: 30px;

        }
    }    
}
