// Card Person Carousel Thumb

.CardPerson {

    &__CarouselThumbnails {

        display: flex;
        height: 540px;
        margin: 0px auto;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        
        @include Morpher(All-Desktop) {
            
            overflow: hidden;
            
        }
    }

    &__ThumbContainer {

        height: auto;
        margin: 0px 5px;

        @include OrcaMarginReset;   

    }
}
