// Layout | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

@mixin Layout($Type) {

    @if $Type == Full {

        width: 100%;

    } @else if $Type == Wrapper {

        max-width: $BodyContainer;
        margin: auto;

    } @else if $Type == Wrapper-Tablet {

        max-width: $BodyContainerTablet;
        margin: auto;

    } @else if $Type == Aside {

        @include Morpher(Tablet){

            max-width: $Aside-Mobile;

        }

        @include Morpher(All-Desktop){

            max-width: $Aside-Desktop;

        }

    }
}
