// Stack Label

%Stack {

	&__ItemLabelContainer {

		border-radius: 50px;
		display: block;
		padding: 3px 20px;
		position: absolute;
		top: 54%;
		width: auto;
		z-index: 2;

		@include Themer(border, Color-3, '1px solid');
		@include Themer(background, Color-2);

		@include Morpher (Laptop) {

			top: 60%;
			padding: 0px 20px;

		}
	}

	&__ItemLabel {

		text-transform: uppercase;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(SubTextInfo);

	}
}
