// Stack Title

.Stack {

	&__ItemTitleContainer {

		position: absolute;
		text-align: center;
		top: 40%;
		width: 100%;
		z-index: 1;

	}

	&__ItemTitle {

		text-transform: uppercase;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(ItemTitle);

		@include Themer(background, Color-7, after) {

            height: 1px;
            left: 0px;
            margin: 25px auto;
            position: absolute;
            right: 0px;
            width: 50%;
			z-index: 1;

        }
	}
}
