// VideoContainer Right Items Container

%VideoContainer {

    &__RightItemDescriptionContainer {

        display: block;
        width: 100%;

        @include Spacer(padding, all, sm);

    }

    &__RightItemDescription {

        line-height: 15px;
        text-align: left;

    }
}
