//VideoContainer Carousel Item Icon

%VideoContainer {

    &__RightItemIconContainer {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

    }

    &__RightItemIcon {

        border-radius: 50%;
        height: 40px;
        width: 40px;

        @include Spacer(margin, all, zero auto);

    }

    .Icn_Video {

        &::before {

            font-size: 30px;

            @include Spacer(margin, left, sm);

        }
    }
}
