//VideoContainer Carousel Item Icon

.VideoContainer {

    &__RightItemIconContainer {

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

    }

    &__RightItemIcon {

        border-radius: 50%;
        height: 40px;
        margin: auto;
        width: 40px;

        @include Themer(background, Color-9);
        @include Themer(border, Color-1, 'solid 2px');

    }

    .Icn_Video {

        &::before {

            margin-left: 5px;
            font-size: 30px;

        }
    }
}
