//VideoContainer Carousel Item Duration

.VideoContainer {

    &__RightItemTimeContainer {

        position: absolute;
        text-align: center;
        top: 60%;
        width: 100%;

    }

    &__RightItemTime {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
