// DataLight List Core

%DataLight {
    
    &__ListContainer {

        max-height: 496px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 100%;

        @include Spacer(margin,top, md);
        
    }
    
    &__ListElement {

        display: flex;
        margin-bottom: 10px;
		text-decoration: none;
        border-radius: 5px;
        
        @include Spacer(margin,bottom, md);

    }
}
