// DataLight List Image

%DataLight {
    
    &__ListImageContainer {

        border-radius: 5px;
        cursor: pointer;
        height: auto;
        padding: 5px 0px;
        width: 130px;
        
        @include Spacer(padding,all, sm zero);

    }
    
    &__ListImage {
        
        border-radius: 5px;
        position: relative;
        top: 5px;
        width: 60px;
        
        &:hover {

            content: "";
            filter: blur(2px);
            transition: opacity 500ms;
            
        }
    }
}
