// DataLight List Number

%DataLight {
    
    &__ListNumberContainer {

        width: 26%;
        padding: 0px 5px;
        
        @include Spacer(padding,all, zero sm);

    }
    
    &__ListNumber {
        
        display: flex;
        justify-content: center;
        position: relative;
        top: 35%;

    }
}
