// SocialFollow Share

.SocialFollow {

	&__ShareContainer {

		display: block;
		margin-top: 20px;
		position: relative;
		width: 100%;

		@include Themer(background,Color-1,before) {

			height: 1px;
			position: absolute;
			width: 90%;
			left: 0px;
    		right: 0px;
			margin: auto;

		}
	}
}
