// SocialFollow Mini Hero

.SocialFollow {

	&__MiniHeroContainer {

		display: block;
		margin: 0px auto;
		width: 80%;

	}

	&__MiniHero {

		display: block;
		margin-top: 2%;
		text-decoration: none;
		width: 90%;

		@include Spekter(16_9);

	}

}
