// SocialFollow Copy

.SocialFollow {

	&__ShareCopy {

		align-items: center;
		display: flex;
		height: 40px;
		justify-content: center;
		position: absolute;
		text-align: center;
		top: 0%;
		width: 100%;
		
		@include Themer(color, Mini-Text-Dark);
		@include Typer(SubTextInfo);
		
		@include Morpher(All-Desktop) {

        	@include Typer(SubTextInfoDesktop);     

        }
	}
}
