// Card Person Share Bar Trigger

.Person {

    &__ShareBarTrigger {

        align-items: center;
        cursor: pointer;
        display: block;
        height: 55px;
        justify-content: center;
        order: 2;
        position: relative;
        width: 55px;
        display: none !important;

        @include Themer(background, Color-7);
        @include Themer(color, Text-Dark-Body);

        @include Themer(color, Black, after) {

            content: "Comparte";
            position: absolute;
            text-transform: uppercase;
            top: 110%;
            width: 90px;

            @include Typer(SubTextInfo);

        }

        @include Morpher(Tablet) {

            display: none !important;

        }

        @include Morpher(All-Desktop) {

            display: none !important;

        }

        &:focus {

            outline: none;

        }
    }

    &__ShareBarTriggerText {

        position: relative;
        top: 20%;

    }
}
