// Card Person Share Bar Core

.Person {

    &__ShareBar {

        display: flex;
        height: 60px;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        width: 100%;

        @include Themer(background, Color-2);

    }
}
