// Header Core

.Header {

    &__Logo {

        align-items: center;
        display: flex;
        grid-area: logo;
        height: 60px;
        justify-content: space-between;

        @include Themer(border-bottom, White, "1px solid");

        @include Morpher(All-Desktop){

            @include Themer(border-bottom, White, "0px solid");

        }
    }
}

.Logo {

    text-decoration: none;

    @include Hover;

    &__Icon {

        @include Themer(color, White);

    }
}
