// Inline Video Caption Share

.InlineVideo {

    &__Share {

        display: block;
        padding: 10px;
        position: relative;
        width: 30%;

        @include Morpher(All-Desktop) {

            display: flex;
            justify-content: center;
            width: 30%;

        }
    }
}
