// TvGuideBold Show Title

.TvGuideBold {

    &__Show {

        width: 100%;

        &-Title {

            margin: 7px 0px 0px 0px;
            white-space: nowrap;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextCreditDesktop);

            @include Morpher(Tablet) {

                margin: 10px 0px 5px 0px;

                @include Typer(ItemTitle);

            }

            @include Morpher(All-Desktop) {

                margin: 2px 0px;

                @include Typer(ItemTitle);

            }
        }

        &-TitleUnderline {

            margin: 10px 0px 0px 0px;
            text-decoration: underline;
            white-space: nowrap;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextCreditDesktop);

            @include Morpher(Tablet) {

                margin: 10px 0px 5px 0px;

                @include Typer(ItemTitle);

            }

            @include Morpher(All-Desktop) {

                margin: 5px 0px;

                @include Typer(ItemTitle);

            }
        }
    }
}
