// MostViewed Link Text Container

.MostViewed {

    &__LinkTextContainer {

        left: 7%;
        position: relative;
        text-align: left;
        top: 5px;
        width: 75%;
        
        @include Hover;

    }
    
    &__LinkText {

        display: block;
        padding: 20px;
        text-align: left;

        @include Typer(ItemTitle);
        @include Themer(color, Text-Dark-Headlines);
        
        @include Morpher(All-Desktop) {
            
            @include Typer(ItemTitleDesktop);
            
        }

        @include Themer(color,Color-4,after) {

            content:'Ver Más';
            bottom: 0px;
            left: 0px;
            padding: 0px 20px;
            position: absolute;
            text-transform: uppercase;
            top: 100%;

            @include Typer(SubTextInfo);
            
            @include Morpher(All-Desktop) {
                
                @include Typer(SubTextInfoDesktop);
                
            }
        }
    }
}
