// MostViewed Link Icon

.MostViewed {

    &__LinkIcon {

        height: 40px;
		right: 1%;
        width: 40px;
	   	position: absolute;
	    top: 23%;

		@include Themer(color, White);
	    @include Themer(background, Color-4);

	}
}
