// VideoContainer Share Bar Core

.VideoContainer {

    &__ShareBar {

        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;

    }
}
