// SuperCard Core

%SuperCard {

    &__IconContainer {

        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__Icon {

        width: 60px;
        height: 60px;
    }
}
