// SuperCard Core

%SuperCard {

    &__Caption {

        width: 100%;
        display: flex;
    	flex-direction: column;
    	justify-content: center;

        @include Spacer(padding, all, xl xl xl 2xl)

    }
}
