// SuperCard Core

%SuperCard {

    &__Thumbnail {

        position: relative;
        width: 100%;
        display: block;
       

        @include HoverCard;

        @include Morpher(All-Desktop) {

        	 max-width: 389px;

        }
    }
}
