// SuperCard Core

%SuperCard {

    &__IconContainer {

        position: absolute;
        top: 0px;
        left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        @include Spacer(padding,all, sm );
    }

    &__Icon {

        width: 50px;
        height: 25px;
    }
}
