// SuperCard Core

%SuperCard {

    &__LabelContainer {

        position: absolute;
        right: 0px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        @include Spacer(padding,all, sm );
    }

    &__Label {

        text-align: center;
        text-transform: uppercase;
    }
}
