// RelatedContent Item Image

.RelatedContent {
    
    &__ItemImageContainer {
        
        display: block;
        margin: 10px 0px;
        position: relative;
        
        @include Spekter(4_3);
        
        @include Morpher(Tablet) {
            
            bottom: 10%;
            margin: 0%;
            
        }
        
        @include Morpher(All-Desktop) {
            
            bottom: 10%;
            margin: 0%;
            
        }
    }
}