// RelatedContent Item Core

.RelatedContent {
    
    &__ItemContainer {
        
        display: grid;
        grid-column-end: 1;
        grid-column: 1;
        grid-row: 2;
        
        @include Morpher(Tablet) {
        
            grid-column-end: 2;
            grid-row: 4;
        
        } 
        
        @include Morpher(All-Desktop) {
            
            grid-column-end: 2;
            grid-row: 4;
            
        }    
    }
    
    &__Item {
        
        display: grid;
        grid-column: 1;
        grid-row: 1;
        text-decoration: none;
        
        @include Morpher(Tablet) {
            
            grid-column: 2;
            grid-gap: 20px;
            grid-row: 1;
            grid-template-columns: 110% 130%;
            
        }
        
        @include Morpher(All-Desktop) {
            
            grid-column: 2;
            grid-gap: 20px;
            grid-row: 1;
            grid-template-columns: 110% 130%;
            
        }
    }
}