// VideoContainer Label

.VideoContainer {

    &__EndCardStopContainer {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 55%;
        width: 100%;
        z-index: 1;

    }

    &__EndCardStop {

        @include Themer(color, Text-Light-Body);

    }
}
