// VideoContainer Title

%VideoContainer {

    &__EndCardTitleContainer {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;

    }

    &__EndCardTitle {

        text-align: center;        

        &::before {

            content: 'A continuación';
            display: block;
            position: relative;
            text-transform: uppercase;

            @include Spacer(margin, all, base);

        }
    }
}
