// VideoContainer Title

.VideoContainer {

    &__EndCardTitleContainer {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 15%;
        width: 100%;
        z-index: 1;

    }

    &__EndCardTitle {

        text-align: center;

        @include Themer(color, Text-Light-Body);
        @include Typer(ItemTitleDesktop);

        &::before {

            content: 'A continuación';
            display: block;
            margin: 1em;
            position: relative;
            text-transform: uppercase;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextCredit);

        }
    }
}
