// VideoContainer Label

.VideoContainer {

    &__EndCardLabelContainer {

        display: flex;
        justify-content: center;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 1;

    }

    &__EndCardLabel {

        padding: 10px 20px;

        @include Themer(background, Color-1);
        @include Themer(color, Text-Light-Body);
        @include Typer(ItemTitle);

    }
}
