// Quote Container

%Quote {

    &__Container {

        display: block;
        max-width: 780px;
        width: 82%;

        @include Spacer(padding, all, xxl 2xl);
        @include Spacer(margin, all, zero auto);

        @include Morpher(All-Desktop) {

            display: flex;
            width: 100%;

        }

	}
}
