// Quote Container

%Quote {

    &__Thumbnail {

        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;

        @include Spacer(margin, all, zero auto);

        @include Morpher(All-Desktop) {

            width: 61%;

            @include Spacer(margin, all, zero auto);

        }
	}

    &__Image {

        border-radius: 50%;
        height: 200px;
        width: 200px;

    }
}
