// Tv Guide Full Week Date

.TvGuideFull {

	&__Date {

		display: block;
		text-transform: uppercase;
		width: 120px;

		@include Themer(color, Text-Light-Body);
		@include Typer(SubTextInfo);

		@include Morpher(All-Desktop) {

			width: 100%;

		}
	}
}
