// Tv Guide Full Week Active Core

.TvGuideFull {
	
	&__Week {
		
		&-Active {
			
			cursor: pointer;
			border: 0px;
			height: 85px;
			width: 100%;
			
			@include HoverButton;
			@include Layout(Wrapper);
			@include Themer(background, Color-1);
			@include Themer(color, Text-Light-Headlines);
			@include Typer(SubTextButton);
			
		}
	}
}
