// Positions Text

%Positions {

    &__TextContainer {

        display: flex;
        justify-content: center;
        left: 0%;
        position: relative;
        width: 100%;
        
        @include Spacer(margin,all, lg zero);
        
        @include Morpher (Tablet) {

            justify-content: left;
            left: 3%;
            
        }
        
        @include Morpher (All-Desktop) {

            justify-content: left;
            left: 3%;
            
            @include Spacer(margin,bottom, lg);
            
        }
    }

    &__Text {
        
        text-transform: uppercase;

    }
}
