// Positions Table

.Positions {

    &__TableContainer {
        
        display: block;
        position: relative;
        width: 100%;
        padding: 2px;
        
        @include Morpher(All-Desktop) {
            
            padding: 10px;
            
        }
    }
}
