// Positions Graphic

%Positions {

    &__GraphicContainer {
        
        align-items: center;
        display: flex;
        width: 50%;
        
        @include Morpher(All-Desktop) {
            
            width: 30%;
            
        }
    }
}
