// SixItems Item Button

.SixItems {

	&__ButtonContainer {

		margin-top: 3%;
		width: 100%;
		display: block;

	}

	&__Button {

		border: none;
		cursor: pointer;
		display: block;
		height: 45px;
		margin: auto;
		width: 200px;

		@include ButtonBorder;
		@include HoverCard;
		@include Themer(background, Color-1);
		@include Themer(color, Text-Light-Headlines);
		@include Typer(SubTextButton);

	}
}
