//VideoContainer Item Icon

%VideoContainer {

    &__ItemPlayerIconContainer {

        position: absolute;
        top: 35%;
        width: 100%;
        z-index: 1;

        @include Morpher(Tablet) {

            top: 40%;

        }

        @include Morpher(All-Desktop) {

            top: 43%;

        }
    }

    &__ItemPlayerIcon {

        border-radius: 50%;
        height: 60px;
        width: 60px;

        @include Spacer(margin, all, zero auto);

    }

    .Icn_Video {

        &::before {

            @include Spacer(margin, left, sm);

        }
    }
}
