// FiveItems Bottom Title

.FiveItems {

    &__ItemTopItemsLabelContainer {

        bottom: 77px;
        display: block !important;
        margin: 0% 1%;
        min-width: 100px;
        position: absolute;
        width: 100%;
        z-index: 3;
        
        @include Morpher(Tablet) {

            margin: 0%;
            
        }
        
        @include Morpher(Laptop) {
            
            bottom: 19%;
            margin: 0%;
            
        }
        
        @include Morpher(Desktop) {
            
            bottom: 17%;
            margin: 0%;
            
        }
        
        @include Morpher(Desktop-HD) {
            
            bottom: 17%;
            margin: 0%;
            
        }
    }

    &__ItemTopItemsLabel {

		box-sizing: border-box;
        text-align: left;
        padding: 2% 6% 0%;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleExtra);
        
        @include Themer(background, Color-3, after) {

			height: 20px;
			position: absolute;
			left: 3%;
			width: 3px;

		}
        
        @include Morpher(Tablet) {
            
            padding: 2% 5% 0%;
            
        }
        
        @include Morpher(All-Desktop) {
            
            padding: 2% 5% 0%;
            
        }
    }
}
