// FiveItems Top Title

.FiveItems {

    &__ItemTopItemsTitleContainer {

        bottom: -1px; // Develop Bug
        box-sizing: border-box;
        display: block !important; // Caption Box
        height: 110px;
        overflow: hidden;
        padding: 2% 3%;
        position: absolute;
        width: 100%;

        @include Themer(background, Color-2);
        
        @include Morpher(All-Desktop) {
            
            height: 100px;
            
        }
    }

    &__ItemTopItemsTitle {

        display: flex;
        position: relative;
        text-align: left;
        top: 30%;

        @include Themer(color,Text-Light-Headlines);
		@include Typer(ItemTitle);

    }
}
