// ArticleRight Left Content Core

%ArticleRight {

    &__LeftContent {

        height: auto;
        position: relative;
        width: 100%;

        @include Morpher(Desktop) {

            height: 100vh;
            position: sticky;
            top: 0px;
            width: 30%;

        }

        @include Morpher(Desktop-HD) {

            height: 100vh;
            position: sticky;
            top: 0px;
            width: 30%;

        }
    }
}
