//Content CarouselB Item Duration

.ContentCarouselB {

    &__CarouselItemDurationContainer {

        padding: 5px 10px;
        position: absolute;
        right: 0%;
        text-align: center;
        top: 23%;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextCredit);

    }
}
