//Content CarouselB Item Label

.ContentCarouselB {

    &__CarouselItemLabelContainer {

        height: 30px;
        overflow: hidden;
        padding: 0px 11px;
        position: relative;
        text-align: left;
        top: 0%;
        width: auto;
        
        @include Themer(background,Color-3,after) {
            
            bottom: 0px;
            content: "";
            display: block;
            height: 1px;
            justify-content: center;
            left: 0px;
            margin: 0px auto;
            position: absolute;
            right: 0px;
            width: 97%;
            
        }
    }

    &__CarouselItemLabel {

        position: absolute;
        text-transform: uppercase;
        top: 5px;
        
        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
