//Content CarouselB Item Core

.ContentCarouselB {

    &__CarouselItem {

        display: block;
        margin-right: 12px;
        min-width: 288px;
        text-decoration: none;
        width: 288px;
        
        @include HoverCard;
        
    }
}
