//Content CarouselB Item Caption

.ContentCarouselB {

    &__CarouselItemCaption {

        height: 140px;
        min-height: 80px;
        position: relative;
        
        @include Themer(background, Color-1);

    }
}
