// Versus Container

%Versus {

    &__LeagueContainer {

        display: flex;
        height: 70px;
        width: 100%;
        
        @include Morpher(All-Desktop) {
            
            height: 80px;
            
        }
	}
}

