// Versus Logo

%Versus {
    
    &__LogoContainer {
        
        align-items: center;
        display: flex;
        height: 70px;
        justify-content: center;
        width: 20%;
        
        @include Morpher(All-Desktop) {
            
            height: 80px;
            
        }
    }
    
    &__Logo {
        
        
        display: flex;
        height: auto;
        justify-content: flex-end;
        padding: 3px;
        width: 60px;
        
        @include Spacer(padding,all, xss);
        
        @include Morpher(All-Desktop) {
            
            width: 80px;
            
        }
    }
}
