// Grid Multi Content Source

%GridGallery {
	
	&__SourceContainer {
		
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: left;
		width: 100%;
		
		@include Spacer(margin,all, zero);
		
	}
	
	&__Source {
		
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: auto;
		justify-content: left;
		position: relative;
		text-transform: uppercase;
		width: auto;

		@include Spacer(padding,all, zero lg);
		
	}
}
