// ArticleRight Right Content Text

@include ThemerUI(ArticleRight){

    @include Element(Text) {

        @extend %ArticleRight__Text;

        p {

            color: #5e6276; //   Develop
            text-align: justify;

            @include Spacer(margin, all, base zero);
            @include Typer(sm);

        }

    }

    @include Element(Subtitle) {

        @extend %ArticleRight__Subtitle;

        @include Typer(lg);

    }

    .Quote {

        background-color: #E3E3E3 !important; //develop

    }
};
