// Navigation Links

.Navigation {

    &__LinksItems {

        align-items: center;
        color: #898DA0;
        cursor: pointer;
        display: flex;
        height: 100%;
        margin: 0px 5px;
        max-width: inherit;
        text-decoration: none;

        @include Typer(SubTextTag);
        @include Morpher(All-Desktop) {

            margin: 0px auto;
            
            @include Hover;

            &:hover {

                color: #27D8BD;
                text-decoration: underline;

            }
        }
    }
}
