// RelatedContent1 Container

%RelatedContent1 {

    &__Container {

        display: inline-block;
        width: 100%;

        @include Morpher (All-Desktop) {

            display: flex;

	    }
	}
}
