//Content Carousel Item Label

.ContentCarousel {

    &__CarouselItemLabelContainer {

        height: 30px;
        overflow: hidden;
        padding: 0px 5px;
        position: absolute;
        text-align: left;
        top: 0%;
        width: auto;

        @include Themer(background, Color-2);

    }

    &__CarouselItemLabel {

        position: relative;
        text-transform: uppercase;
        top: 2px;
        
        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
