// HighImpactJustifiedLeft Right Items Title

.HighImpactJustifiedLeft {

    &__RightItemTitleContainer {

        display: block;
        padding: 0px 5px;
        width: 100%;

    }

    &__RightItemTitle {

        text-align: left;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);

        @include Morpher(All-Desktop) {

            @include Typer(ItemTitleDesktop);

        }
    }
}
