// HighImpactJustifiedLeft Right Items Description

.HighImpactJustifiedLeft {

    &__RightItemDescriptionContainer {

        display: block;
        padding: 5px;
        width: 100%;

    }

    &__RightItemDescription {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleDescription);

        @include Morpher(All-Desktop) {

            @include Typer(ItemTitleDescriptionDesktop);

        }
    }
}
