// HighImpactJustifiedLeft Right Items Core

.HighImpactJustifiedLeft {

    &__RightItems {

        grid-area: RightItems;
        text-decoration: none;

    }

    &__RightItem {

        display: block;
        text-decoration: none;
        width: 100%;

        @include HoverCard;
        
    }
}
