// RelatedContent Core

.RelatedContent {
    
    display: grid;
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    margin: 0px auto;
    max-height: 630px;
    max-width: 697px;
    grid-template-columns: 100%;

    @include Themer(background, Color-10);
    
    @include Morpher(Tablet) {
    
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 50% 50%;
        max-width: 697px;
        
    }
    
    @include Morpher(All-Desktop) {
        
        grid-column: 1;
        grid-row: 1;
        grid-template-columns: 50% 50%;
        
    }
}