// HeaderDrop LinksContainer Core

.HeaderDrop {

    &__LinksContainer {

        display: flex;
        flex-direction:row;
        justify-content: center;
        margin: 0px auto;
        max-width: 768px;
        width: 100%;

    }
}
