// HeaderDrop Links

.HeaderDrop {

    &__LinksItem {

        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        margin: 0px 5px;
        max-width: inherit;
        text-decoration: none;

        @include Typer(SubTextTag);
        @include Themer(color, Color-4);
        @include Morpher(All-Desktop) {

            margin: 0px auto;

            @include Hover;

            &:hover {

                color: #27D8BD;
                text-decoration: underline;

            }
        }
    }
}
