// HeaderDrop Links

.HeaderDrop {

    &__ListContainer {

        align-items: center;
        cursor: pointer;
        display: flex;
        height: 100%;
        margin: 0px 5px;
        max-width: inherit;
        opacity: 1;
        position: relative;
        text-decoration: none;

        @include Typer(SubTextTag);
        @include Themer(color, Color-4);

        @include Morpher(All-Desktop) {

            margin: 0px auto;

            @include Hover;

            &:hover {

                color: #27D8BD;
                text-decoration: underline;
                opacity: 1;

                ul {

                  display: block;
                  z-index: 8;

                }
            }
        }
    }

    &__List {

        display: none;
        list-style: none;
        margin: 0px;
        min-width: 150px;
        position: absolute;
        top: 40px;
        left: -15px; //develop para mobile

        @include Themer(background, Black);

    }

    &__ListItem {

        padding: 10px;
        margin: 0px;

    }
}
