// Versus Team Home Name

%Versus {

    &__TeamHomeNameContainer {
        
        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 120px;
        width: 100%;
        
        @include Spacer(margin,all, zero auto);
        
    }
    
    &__TeamHomeName {
        
        text-align: center;
        
    }
}
