// Versus Team Logo

%Versus {
    
    &__TeamLogoContainer {
        
        height: 50px;
        margin: 9px;
        width: 50px;
        
        @include Spacer(margin,all, zero auto md auto);
        
        @include Morpher(All-Desktop) {
            
            height: 60px;
            width: 60px;
            
            @include Spacer(margin,all, zero auto);
            
        }
    }
}

