// Versus Team Logo

%Versus {
    
    &__TeamsTitleContainer {
        
        justify-content: left;
        width: 100%;
        height: 20px;
        
        @include Spacer(margin,all, zero sm);
        
    }
    
    &__TeamsTitle {
        
        text-transform: uppercase;
        
    }
}

