// Versus Team Group

%Versus {

    &__TeamsWrapper {
        
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        min-height: 150px;
        position: relative;
        width: 100%;
        
    }
}
