// Versus Team Core

%Versus {
    
    &__TeamHomeContainer {
        
        align-items: center;
        display: flex;
        height: 130px;
        justify-content: center;
        width: 40%;
        
    }
    
    &__TeamHome {

        align-items: center;
        display: inline-block;
        height: 100%;
        width: 100%;
        margin-top: 15px;
        
        @include Morpher(All-Desktop) {
            
            display: flex;
            
        }
    }
    
    &__TeamAwayContainer {
        
        align-items: center;
        display: flex;
        height: 130px;
        justify-content: center;
        width: 40%;
        
    }
    
    &__TeamAway {

        align-items: center;
        display: inline-block;
        flex-direction: row-reverse;
        height: 100%;
        width: 100%;
        margin-top: 15px;
        
        @include Morpher(All-Desktop) {
            
            display: flex;
            
        }
    }
}

