// HighImpactJustifiedLeftTypeC Core

.HighImpactJustifiedLeftTypeC {

    display: grid;
    grid-row-gap: 12px;
    grid-template-columns: 100%;
    grid-template-areas:
    'Slider'
    'RightItems';
    margin: 5% auto;

    @include Morpher(Laptop) {

        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr minmax(auto, 249px);
        grid-template-areas:
        'Slider Slider RightItems';
        margin: 5% auto;
        max-width: 1440px;

    }

    @include Morpher(Desktop) {

        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr minmax(auto, 346px);
        grid-template-areas:
        'Slider Slider RightItems';
        margin: 5% auto;
        margin: auto;
        max-width: 1440px;

    }

    @include Morpher(Desktop-HD) {

        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr minmax(auto, 392px);
        grid-template-areas:
        'Slider Slider RightItems';
        margin: 5% auto;
        max-width: 1440px;

    }
}
