//  Ikoner Engine | WhiteLabel MarkUp v2.1.0 Atomic Ghost | 1/5/19


@mixin Iconography ($Icn-Color, $Icn-Size, $Icn-Value){

    align-items: center;
    color: $Icn-Color;
    display: flex;
    font-size: $Icn-Size;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &::before {
        content: '#{$Icn-Value}';

        @include FontSmoothing;

    }
}

@each $Icon-Name, $Icn-Value in $Iconography {

    @if $UINameSpace == WhiteLabel {

        .Icn_#{$Icon-Name}.#{$UINameSpace} {

            @include Iconography(Black,40px !important, '\f001');

        }

    } @else {

        .Icn_#{$Icon-Name}.#{$UINameSpace} {

            @include Iconography(Black,28px, $Icn-Value);

        }
    }
} 
// Ikoner Engine