// Kolibri Ikoner Engine | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

$Icn-Value: nth(nth($Iconography, 1),2);

@mixin Iconography ($Icn-Color, $Icn-Size, $Icn-Value){

    align-items: center;
    color: $Icn-Color;
    display: flex;
    font-size: $Icn-Size;
    justify-content: center;
    text-align: center;
    text-decoration: none;

    &::before {
        content: '#{$Icn-Value}';

        @include FontSmoothing;

    }
}

@for $i from 1 through length($Palettes) {

    $ThemesName: nth(nth($Palettes, $i), 1);

    @each $Icon-Name, $Icn-Value in $Iconography {

        @if $ThemesName == WhiteLabel {

            .Icn_#{$Icon-Name}.#{$ThemesName} {

                @include Iconography(Black,40px !important, '\f001');

            }

        } @else {

            .Icn_#{$Icon-Name}.#{$ThemesName} {

                @include Iconography(Black,28px, $Icn-Value);

            }
        }
    }
} // Ikoner Engine



// .Google-Plus-Color {
//     &:before {
//         content: $GooglePlusColor;
//         color: #dc4e41;
//     }
// }
// .Google-Color .path1 {
//     &:before {
//         content: $GoogleColor-Path1;
//         color: rgb(66, 133, 244);
//     }
// }
// .Google-Color .path2 {
//     &:before {
//         content: $GoogleColor-Path2;
//         margin-left: -1em;
//         color: rgb(52, 168, 83);
//     }
// }
// .Google-Color .path3 {
//     &:before {
//         content: $GoogleColor-Path3;
//         margin-left: -1em;
//         color: rgb(251, 188, 5);
//     }
// }
// .Google-Color .path4 {
//     &:before {
//         content: $GoogleColor-Path4;
//         margin-left: -1em;
//         color: rgb(234, 67, 53);
//     }
// }
// .LinkedIn-Color {
//     &:before {
//         content: $LinkedInColor;
//         color: #0077b5;
//     }
// }
// .WhatsApp-Color {
//     &:before {
//         content: $WhatsAppColor;
//         color: #25d366;
//     }
// }
// .YouTube-Color {
//     &:before {
//         content: $YouTubeColor;
//         color: #f00;
//     }
// }
// .Facebook-Thumb-Color .path1 {
//     &:before {
//         content: $Facebook-Thumb-Color-path1;
//         color: rgb(66, 103, 178);
//     }
// }
// .Facebook-Thumb-Color .path2 {
//     &:before {
//         content: $Facebook-Thumb-Color-path2;
//         margin-left: -1em;
//         color: rgb(50, 54, 59);
//     }
// }
// .Facebook-Color {
//     &:before {
//         content: $FacebookColor;
//         color: #4267b2;
//     }
// }
// .Twitter-Color {
//     &:before {
//         content: $TwitterColor;
//         color: #1da1f2;
//     }
// }
