// Morpher Mix Engine | WhiteLabel MarkUp v2.2.0 Atomic Ghost | 12/7/19

@mixin Morpher($Device) {

	@if map-has-key($Breakpoints, $Device) {

		$DeviceQuery: map-get($Breakpoints, $Device);

		@if $Device == All-Desktop {

			@media (min-width: $DeviceQuery) {

            	@content;

        	}

			} @else if $Device == Full-HD {

				@media (min-width: $DeviceQuery) {

	            	@content;

	        	}

			} @else if $Device == All-DesktopHD {

				@media (min-width: $DeviceQuery) {

	            	@content;

	        	}

			} @else if $Device == All-Laptop {

				@media (min-width: $DeviceQuery) {

	            	@content;

	        	}

			} @else if $Device == All-Tablet {

				@media (min-width: $DeviceQuery) {

	            	@content;

	        	}
			}

	    @else {

			$Val1: nth($DeviceQuery, 1);
			$Val2: nth($DeviceQuery, 2);

			@media (min-width: $Val1) and (max-width: $Val2) {
            	@content;
        	}

		}

	} @else {

        @warn ' !!! The Breakpoint  #{$Device}, doesn\'t exist, please verify !!! El Breakpoint #{$Device} no existe, por favor verifica !!!';

    }

}
