// Spacer Engine | WhiteLabel MarkUp v2.1.6 Atomic Ghost | 25/5/19

/* examples

@include Spacer(padding,all, base xl);
@include Spacer(margin,top, xl);

*/

@mixin Spacer($type:margin, $direction:all, $amount:'base') {

    @if not map-has-key($Spaces, $amount) {

        $values: ();

        @for $i from 1 through length($amount) {

            $val: map-get($Spaces, nth($amount, $i));

            @if $val == auto {
                $values: append($values, $val, space);
            } @else {
                $values: append($values, pxtorem($val), space);
            }
        }

        @warn "valor de #{$values} en shorthand";

        @if $type == padding {
            @if $direction == all {
                padding: $values;
            }
        } @else {

            @if $direction == all {
                margin: $values;
            }

        }
    }

    $sval: pxtorem(map-get($Spaces, $amount));

    @if $type == padding {
        @if $direction == all{
            padding: $sval;
        } @else if $direction == top {
            padding-top: $sval;
        } @else if $direction == left {
            padding-left: $sval;
        } @else if $direction == right {
            padding-right: $sval;
        } @else {
            padding-bottom: $sval;
        }
    } @else {
        @if $direction == all{
            margin: $sval;
        } @else if $direction == top {
            margin-top: $sval;
        } @else if $direction == left {
            margin-left: $sval;
        } @else if $direction == right {
            margin-right: $sval;
        } @else {
            margin-bottom: $sval;
        }
    }
}
