// Spekter Mix Engine | WhiteLabel MarkUp v2.1.1 Atomic Ghost | 29/5/19

@mixin Spekter($AspectValue, $Pos: false, $BgT: false,) {

    $Aspect: map-get($Aspects, $AspectValue);

    @if  $Pos == absolute {

        // position arg
        position: absolute;

    } @else {
        position: relative;
    }

    padding-top: $Aspect;
    width: 100%;

    img {

        position: absolute;
        top: 0px;
        width: 100%;
    }

    @include Themer(background, $PlaceholderBackground, before);
    @include Themer(color, $PlaceholderIconColor, before) {
        content: $PlaceholderIcon;
        align-items: center;
        font-family: Iconography;
        @include responsive-font(320px, 1440px, ($PlaceholderIconSize - 100), $PlaceholderIconSize);
        height: 100%;
        justify-content: center;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    @if  $BgT == transparent {

        // transparent

        &::before {

            display: none;

        }

    } @else {

        &::before {

            display: none;

        }

    }
} // Spekter Mix Engine
