// Themer Engine | WhiteLabel MarkUp v2.1.5 Atomic Ghost | 26/5/19

@mixin Themer($Property, $ColorCat, $ExtraValues:"") {

    $Properties: (
    background,
    color,
    border,
    border-top,
    border-right,
    border-left,
    border-bottom,
    box-shadow,
    text-shadow,
    );

    @if list-has-key($Properties, $Property) {

        $Colorquery: map-deep-get($Palettes, $UINameSpace, $ColorCat);
        
        & {

            @if $ExtraValues == before {

                &::before {
                    content: '';
                    #{$Property}: unquote($Color);
                    @content;
                }

            } @else if $ExtraValues == after {

                &::after {
                    content: '';
                    #{$Property}: unquote($Color);
                    @content;
                }

            } @else {

                #{$Property}: unquote($Colorquery) unquote($ExtraValues);

            }
        }

    } @else {

        @error "'#{$Property}' no es una propiedad permitida. (Solo background, color, border, text-shadow o box-shadow).";

    }
} // Themer Engine
