// Themer Engine | WhiteLabel MarkUp v2.3.0 Atomic Ghost | 28/5/19


@mixin Themer($Property, $ColorCat, $ExtraValues:"") {

    $Properties: (
    background,
    color,
    border,
    border-top,
    border-right,
    border-left,
    border-bottom,
    box-shadow,
    text-shadow,
    linear-gradient,
    alpha-color,
    alpha-background,
    );

    @if list-has-key($Properties, $Property) {

        $Colorquery: map-deep-get($Palettes, $skin, $ColorCat);

        & {
            @if $ExtraValues == before {

                &::before {
                    content: '';
                    #{$Property}: ($Colorquery);
                    @content;
                }

            } @else if $ExtraValues == after {

                &::after {
                    content: '';
                    #{$Property}: ($Colorquery);
                    @content;
                }

            } @else if $Property == linear-gradient {

                $Colors:();

                @for $i from 1 through length($ColorCat) {

                    $color: map-deep-get($Palettes, $skin, nth($ColorCat, $i));

                    $Colors: append($Colors, $color, comma);

                }

                @if $ExtraValues == "" {

                    $ExtraValues: "180deg";

                }

                background: linear-gradient( unquote($ExtraValues), $Colors );

            } @else if $Property == alpha-color {

                @if $ExtraValues == "" {

                    $ExtraValues: 1;

                }

                color: rgba($Colorquery, $ExtraValues);

            } @else if $Property == alpha-background {

                @if $ExtraValues == "" {

                    $ExtraValues: 1;

                }

                background: rgba($Colorquery, $ExtraValues);

            } @else {

                #{$Property}: ($Colorquery) unquote($ExtraValues);

            }
        }

    } @else {

        @error "'#{$Property}' no es una propiedad permitida. (Solo background, color, border, text-shadow, box-shadow y linear-gradient).";

    }

} // Themer Engine
