// Kolibri Themer Engine | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

@mixin Themer($Property, $ColorCat, $ExtraValues:"") {

    $Properties: (
        background,
        color,
        border,
        border-top,
        border-right,
        border-left,
        border-bottom,
        box-shadow,
        text-shadow
    );

    @if list-has-key($Properties, $Property) {

        @each $Theme, $ColorDrops in $Palettes {

            @if $Theme == $UINameSpace {

                @for $i from 1 through length($ColorDrops) {

                    $Bucket: nth(nth($ColorDrops, $i), 1);
                    $Color: nth(nth($ColorDrops, $i), 2);


                    @if $ColorCat == $Bucket {

                        &{

                            @if $ExtraValues == before {

                                &::before {
                                    content: '';
                                    #{$Property}: unquote($Color);
                                    @content;
                                }

                            } @else if $ExtraValues == after {

                                &::after {
                                    content: '';
                                    #{$Property}: unquote($Color);
                                    @content;
                                }

                            } @else {

                                #{$Property}: unquote($Color) unquote($ExtraValues);

                            }
                        }
                    }
                }
            }
        }

    } @else {

      @error "'#{$Property}' no es una propiedad permitida. (Solo background, color, border, text-shadow o box-shadow).";

    }
} // Themer Engine
