// Typer Engine | WhiteLabel MarkUp v2.1.7 Atomic Ghost | 15/5/19

/*
    examples
    @include Typer(ItemTitle);
*/

@mixin Typer($FontKind) {

    $query: map-get($TypographyStyles, $FontKind);

    $FF: nth($query, 1);
    $FW: nth($query, 2);
    $FSMAX: nth($query, 3);
    $FSMIN: nth($query, 4);
    $LS: nth($query, 5);

    @if ($FF == sans-serif) {
        font-family:unquote($FF);
    } @else {
        font-family: $FF , sans-serif;
    }

    font-weight: $FW;
    @include responsive-font(320px,  1440px, $FSMAX, $FSMIN);
    letter-spacing: $LS;

    @include FontSmoothing;

}
