// ProfileFollow Carousel Thumb Container

.ProfileFollow {

    &__CarouselThumbnails {

        display: flex;
        height: 260px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        align-items: center;
        justify-content: flex-end;
        
        @include Morpher(All-Desktop) {
            
            overflow: hidden;
            
        }
    }

    &__ThumbContainer {

        height: auto;
        margin: 0px 1px;

    }
}
