// ProfileFollow Carousel Core

.ProfileFollow {

    &__Carousel {

		display: flex;
        margin-bottom: 30px;
        margin-top: 0px;
        margin: 0px auto;
        max-width: 1130px;
        position: relative;


    }
}
