// VideoContainer Counter Remandier

.VideoContainer {

    &__CounterReminderContainer {

        max-width: 100%;
        padding: 1em;
        width: 100%;

        @include Themer(border-top, White,"solid 1px");

        @include Morpher(All-Desktop) {

            max-width: 320px;
            width: auto;

            @include Themer(border-left, White,"solid 1px");
            @include Themer(border-top, White,"solid 0px");

        }
    }

    &__CounterReminder {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleDescription);

    }
}
