// VideoContainer Counter Link Tilte

.VideoContainer {

    &__CounterLink {

        display: block;
        padding: 10px 0px;
        text-align: center;
        text-decoration: none;
        width: 100%;

        @include Morpher(All-Desktop) {

            text-align: left;

        }
    }

    &__CounterLinkTitle {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleDesktop);

    }
}
