// LiveBlog Share Bar Mobile

%LiveBlog {

    &__ShareBarMobile {

        align-items: center;
        display: block;
        flex-direction: column;
        height: auto;
        justify-content: center;
        order: 1;
        width: 46px;


        @include Morpher(Tablet) {

            display: none;

        }

        @include Morpher(All-Desktop) {

            display: none;

        }
    }
}
