// LiveBlog Share Bar Trigger

.LiveBlog {

    &__ShareBarTrigger {

        align-items: center;
        cursor: pointer;
        display: block;
        font-size: 10px;
        height: 55px;
        justify-content: center;
        order: 2;
        position: relative;
        width: 55px;

        @include Themer(background, Color-7);
        @include Themer(color, Text-Dark-Body);

        @include Themer(color, White, after) {

            content: "Comparte";
            height: 1px;
            position: absolute;
            text-transform: uppercase;
            top: 110%;
            width: 90px;

            @include Typer(SubTextInfo);

        }

        @include Morpher(All-Desktop) {

            display: none !important;

        }

        &:focus {

            outline: none;

        }
    }

    &__ShareBarTriggerText {

        display: none;
        position: relative;
        top: 20%;

    }
}
