// VideoContainer Carousel Track

.VideoContainer {

    &__CarouselTrack {

        max-height: 720px;
        overflow-x: hidden;
        overflow-y: scroll;
        width: 105%;


        @include Morpher(Laptop) {

            max-height: 185px;
            overflow-x: scroll;
            overflow-y: hidden;

        }
    }
}
