// VideoContainer Carousel Thumb

.VideoContainer {

    &__CarouselThumbContainer {

        margin-bottom: 4px;
        min-width: 190px;

        @include OrcaMarginReset;

        @include Morpher(Laptop) {

            margin-left: 4px;
            min-width: 355px;

        }
    }

    &__CarouselThumbnails {

        width: 100%;

        @include Morpher(Laptop) {

            display: flex;
            height: 170px;

        }
    }
}
