// Versus Banner Core

%Versus {
    
    &__TeamsBannerContainer {

        overflow: hidden;
        position: absolute;
        right: 4%;
        text-decoration: none;
        top: 20%;
        width: 30%;
        
        @include Morpher(All-Desktop) {
            
            right: 2%;
            top: 12%;
            width: 20%;
            
        }
    }
    
    &__TeamsBanner {
        
        background: #8ed30c;
        display: block;
        height: 20px;
        text-align: center;
        width: 100px;
        
        @include Themer(color, Text-Dark-Body);
        @include Typer(SubTextCredit);
        
        @include Morpher(Tablet) {
            
            width: 240px;
            height: 40px;
            
            @include Typer(ItemTitleExtra);
            
        }
        
        @include Morpher(All-Desktop) {
            
            width: 240px;
            height: 40px;
            
            @include Typer(ItemTitleExtra);
            
        }
    }
}

