// SocialEmbeds Aside

.SocialEmbeds {

    &-Aside {
        
        margin: auto;
		width: 100%;

		@include Layout(Aside);
        @include WidgetBottomSpace;

	}

	&__AsideIframeContainer {

		width: 100%;
        display: flex;

	}
}
