// // SocialEmbeds Full

.SocialEmbeds {

	&-Full {

		@include Layout(Wrapper);
		@include WidgetBottomSpace;

 	}

	&__FullIframeContainer {

		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;

	}
}
