// SocialEmbeds Wrapper

.SocialEmbeds {

	&-Wrapper {
		
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		width: 100%;

		@include Layout(Wrapper);
		@include WidgetBottomSpace;

	}

	&__WrapperIframeContainer {

		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		max-width: 320px;
		min-height: 410px;
		width: 100%;
		
		@include Morpher(Tablet) {
			
			max-width: 500px;
			min-height: 410px;
			
		}
		
		@include Morpher(All-Desktop) {
			
			max-width: 500px;
			min-height: 410px;
			
		}
	}
}
