// Breakpoints Settings File | WhiteLabel MarkUp v2.1.0 Atomic Ghost | 12/7/19

$Breakpoints: (
    Smartphone: (0px,414px),
    Tablet: (415px,768px),
    Laptop: (769px,1024px),
    Desktop: (1025px,1280px),
    Desktop-HD: (1281px, 1440px),
    Full-HD: (1280px),
    All-DesktopHD: (1024px),
    All-Desktop: (769px),
    All-Laptop: (768px),
    All-Tablet: (415px)
);

@import "./engines/Morpher";
