// Color Palettes Settings File | WhiteLabel MarkUp v1.4.1 Atomic Ghost | 28/5/19

$Palettes: (
    WhiteLabel: (
        Text-Dark-Headlines: #000000, // Dark Headlines
        Text-Dark-Body: #000000, // Dark Body Text
        Mini-Text-Dark: #323540, // Small Light Text Body
        Text-Light-Headlines: #FFFFF0, // Light Headlines
        Text-Light-Body: #FFFFF0, // Light Body Text
        Mini-Text-Light: #E3E3E3, // Small Light Text Body
        Color-1: #323540, // Solids
        Color-2: rgba(141, 145, 165, .8), // Solid Transparent
        Color-3: #E3E3E3, // Interactions
        Color-4: #8D91A5, // Inactive
        Color-5: #8D91A5, // Tags Labels
        Color-6: #323540, // Shadows
        Color-7: #fffff0, // Extra
        Color-8: #191A1D, // Extra
        Color-9: #5E6276, // Extra
        Color-10: #E3E3E3, // Extra
        Color-11: #363D55, // Extra
        Color-12: #fffff0, // Footer Reserved
        Color-13: #E3E3E3, // Footer Reserved
        Color-14: #8D91A5, // Footer Reserved
        Color-15: #323540, // Footer Reserved
        Gradient-1A: rgba(0, 0, 0, .8) , // Gradient 1
        Gradient-1B: null,
        Gradient-2A: null, // Gradient 2
        Gradient-2B: null,
        Gradient-3A: null, // Gradient 3
        Gradient-3B: null,
        Black: #000000, // Suport
        White: #FFFFF0
    ),
    LasEstrellas: (
        Text-Dark-Headlines: #2A2A2A, // Dark Headlines
        Text-Dark-Body: #333, // Dark Body Text
        Mini-Text-Dark: #505763, // Small Light Text Body
        Text-Light-Headlines: #D8D8D8, // Light Headlines
        Text-Light-Body: #f5f5f5, // Light Body Text
        Mini-Text-Light: #dadbdc, // Small Light Text Body
        Color-1: #DD307E, // Solids - Color 1 of the base gradient
        Color-2: rgba(126, 132, 140, .8), // Solid Transparent
        Color-3: #9F046C, // Interactions - Color 2 of the base gradient
        Color-4: #CCA212, // Inactive
        Color-5: #FFD805, // Tags Labels
        Color-6: #343447, // Shadows
        Color-7: #8BD6ED, // Extra
        Color-8: #1D1D27, // Extra
        Color-9: #D8D8D8, // Extra
        Color-10: #171717, // Extra
        Color-11: #42464b, // Extra
        Color-12: #a2a2a2, // Footer Reserved
        Color-13: #717171, // Footer Reserved
        Color-14: #4a4a4a, // Footer Reserved
        Color-15: #000000, // Footer Reserved
        Gradient-1A: rgba(0,0,0,0.5), // High Impact background icon color
        Gradient-1B: rgba(0,0,0,0), // Transparent color for the High Impact gradient
        Gradient-2A: #FFAC05, // Gradient 2
        Gradient-2B: #FFD805,
        Gradient-3A: #4889FA, // Gradient 3
        Gradient-3B: #8BD6ED,
        Black: #000000, // Suport
        White: #FFFFFF
    )
);

@import './engines/Themer';
