// Typography | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

$f-xxs: 10px;
$f-xs: 12px;
$f-s: 14px;
$f-base: 16px;
$f-m: 18px;
$f-l: 22px;
$f-xl: 24px;
$f-xxl: 28px;
$f-2xxl: 32px;
$f-4xxl: 42px;

$TypographyStyles: (

// WhiteLabel | Weight | MAXSize | MINSize | Letter Spacing | Line Height

// Headlines

    // Big Titles | HighImpact

    HeadlineMain: (whitelabel-bold, 700, $f-xl, $f-4xxl, 1px),
    HeadlineMainDescription: (whitelabel-bold, 700, $f-xl, $f-2xxl, 1px),

    // SubTitles | MostViewed | Article Title | Video Title | Quote

     HeadlineSub: (whitelabel-bold, 700, $f-xl, $f-xxl, 1px),
     HeadlineSubExtra: (whitelabel-regular, 400, $f-xl, $f-xxl, 1px),

// Items

    // Item Titles | Item Description

    ItemTitle: (whitelabel-bold, 700, $f-m, $f-l, 0px),
    ItemTitleExtra: (whitelabel-regular, 400, $f-m, $f-l, 0px),
    ItemTitleVariant: (whitelabel-regular, 400, $f-m, $f-l, 0px),
    ItemTitleDescription: (whitelabel-regular, 400, $f-s, $f-base, 0px),

// SubText

    // Button Text | Tags | Extra texts

    SubTextButton: (whitelabel-bold, 700, $f-m, $f-l, 0px),
    SubTextInfo: (whitelabel-bold, 700, $f-xs, $f-s, 0px),
    SubTextTag: (whitelabel-bold, 700, $f-base, $f-m, 0px),
    SubTextCredit:(whitelabel-bold, 700, $f-xs, $f-s, 0px),

// LongText

    // Body Text | Article

    BodyText: (whitelabel-regular, 400, $f-m, $f-xl, 1px),
    BodyTextSubtitle: (whitelabel-regular, 400, $f-l, $f-base, 1px),

// FooterReserved

    // Reserved Spaces | Footer

    FooterTextAbout: ($FontSystem, 400, $f-s, $f-s, 0px),
    FooterTextContact: ($FontSystem, 500, $f-xs, $f-xs, 0px),
    FooterTextCopyright: ($FontSystem, 400, $f-xxs, $f-xxs, 0px),

// Header

    // Some Header Text

    HeaderLink: (whitelabel-regular, 400, $f-s, $f-base, 0px),
    Header: (whitelabel-regular, 400, $f-base, $f-m, 0px),
    HeaderExtra: (whitelabel-regular, 400, $f-s, $f-base, 0px),

// Miscellaneous

    // List Numbers of MostViewed Widget

    ListNumbers: (whitelabel-bold, 700, $f-4xxl, $f-4xxl, 0px),

);

@import './engines/Typer';
