// Icons Settings File | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

$Iconography: (

    // WhiteLabel

    WhiteLabel: '\f000',
    Placeholder: '\f001',
    PlaceholderVideo: '\f002',
    PlaceholderNote: '\f003',
    PlaceholderGallery: '\f004',

    // Social Networks (MonoChrome)

    Twitter: '\e100',
    Facebook: '\e110',
    FacebookF: '\e111',
    YouTube: '\e120',
    Instagram: '\e130',
    IGTV: '\e131',
    WhatsApp: '\e140',
    LinkedIn: '\e150',
    LinkedInInner: '\e151',
    Google: '\e160',
    GooglePlus: '\e161',
    Spotify: '\e162',

    // Color

    TwitterColor: '\e900',
    FacebookColor: '\e910',
    FacebookThumbColor-Path1: '\e920',
    FacebookThumbColor-Path2: '\e921',
    YouTubeColor: '\e930',
    WhatsAppColor: '\e940',
    LinkedInColor: '\e950',
    GoogleColor-Path1: '\e960',
    GoogleColor-Path2: '\e961',
    GoogleColor-Path3: '\e962',
    GoogleColor-Path4: '\e963',
    GooglePlusColor: '\e970',

    // Televisa

    Logo: '\f000',
    TelevisaFull: '\f001',
    Televisa: '\f002',
    CEA: '\f003',

    // Las Estrellas

    LasEstrellas: '\f050',
    ArrowDown: '\f051',
    ArrowUp: '\f052',
    ArrowLeft: '\f053',
    ArrowRight: '\f054',
    Menu: '\f055',
    ThumbDown: '\f056',
    ThumbUp: '\f057',
    Search: '\f058',
    Share: '\f059',
    Close: '\f060',
    Email: '\f061',
    Comments: '\f062',
    Pin: '\f063',
    Link: '\f064',
    Schedule: '\f065',
    ShareVariant: '\f066',
    ArrowDownload: '\f067',
    HorizontalLine: '\f068',
    VerticalLine: '\f069',
    Video: '\f070',
    Pause: '\f071',
    SoundOn: '\f072',
    Gallery: '\f073',
    PhotoFrame: '\f074',
    Replay: '\f075',
    Tap: '\f076',
    SwipeInitial: '\f077',
    SwipeInner: '\f078',
    ArrowShare: '\f079',
    CopyLink: '\f080',
    Comment: '\f081',

    // Deportes

    Deportes: '\f100',
    Home: '\f101',
    Note: '\f102',
    Flag: '\f103',
    Statistics: '\f104',
    LaJugada: '\f105',
    Calendar: '\f106',
    Goals: '\f107',
    SoccerNews: '\f108',
    VideoPlayer: '\f109',

    // News

    News: '\f150',

    // Nueve

    Nueve: '\f200',

    // ForoTV

    ForoTV: '\f250',

    // CanalU

    CanalU: '\f300',
    VideoOutline: '\f301',
    VideoStroke: '\f302',
    NoteStroke: '\f303',
    GalleryStroke: '\f304',

    // Canal 5 Icons

    CanalCinco: '\f350',
    Asterisk: '\f351',
    Plus: '\f352',
    Series: '\f353',
    Gamers: '\f354',
    FourElements: '\f355',
    Kids: '\f356',
    Movies: '\f357',
    Anime: '\f358',
    Photo: '\f359',

    // Telehit

    PlayOutlineThin: '\f400',
    GalleryOutlineThin: '\401',
    NoteOutlineThin: '\402',

    // Televisa Color

    LasEstrellasColor: '\f900',

    LasEstrellasFullDark-Path1: '\f910',
    LasEstrellasFullDark-Path2: '\f911',
    LasEstrellasFullDark-Path3: '\f912',
    LasEstrellasFullDark-Path4: '\f913',
    LasEstrellasFullDark-Path5: '\f914',
    LasEstrellasFullDark-Path6: '\f915',
    LasEstrellasFullDark-Path7: '\f916',
    LasEstrellasFullDark-Path8: '\f917',
    LasEstrellasFullDark-Path9: '\f918',
    LasEstrellasFullDark-Path10: '\f919',
    LasEstrellasFullLight-Path1: '\f920',
    LasEstrellasFullLight-Path2: '\f921',
    LasEstrellasFullLight-Path3: '\f922',
    LasEstrellasFullLight-Path4: '\f923',
    LasEstrellasFullLight-Path5: '\f924',
    LasEstrellasFullLight-Path6: '\f925',
    LasEstrellasFullLight-Path7: '\f926',
    LasEstrellasFullLight-Path8: '\f927',
    LasEstrellasFullLight-Path9: '\f928'

);

@import "./engines/Ikoner";
