// Settings / Global file | WhiteLabel MarkUp v2.1.0 Atomic Ghost | 25/5/19

@import './engines/Functions';

$ThemesUI: (
    LasEstrellas,
    WhiteLabel
);

@function CurrentTheme($list){

	@return nth($list, length($list));

}

$UINameSpace: CurrentTheme($ThemesUI);
// @each $item in $ThemesUI {
//   $UINameSpace: append($UINameSpace, unquote($item));
// }

@debug $UINameSpace;

@import './engines/ThemerUI';

// Body container for wrapper according to design

$BodyContainer: 1180px;
$BodyContainerTablet: 500px;
$Aside-Mobile: 768px;
$Aside-Desktop: 414px;

// Iconography Version

$WFVersion: 'v2.0.0';

// Fonts names definitions

// $Font-1: 'roboto';
// $Font-2: 'poppins';
$FontSystem: 'sans-serif';

// Settings engines files routes

@import './Colors';
@import './Breakpoints';
@import './Icons';
@import './Placeholders';
@import './Fonts';
@import './Spaces';
