// Spaces Settings File | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

$Spaces: (
        zero: 0px, //Cero
        xs: 3px, // xtra small space
        sm: 6px, // small space
        md: 9px, // medium space
        base: 12px, // base space
        lg: 15px, // large space
        xl: 18px, // xtra large space
        xxl: 24px, // 1xtra large space
        2xl: 36px, // 2xtra large space
        4xl: 48px, // 4xtra large space
        auto: auto, //auto val
);

@import './engines/Spacer';
