// PromoCards Carousel Thumb Container

.PromoCards {

    &__CarouselThumbnails {

        align-items: center;
        display: flex;
        height: 350px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        
        @include Morpher(All-Desktop) {
            
            overflow: hidden;
            
        }
    }

    &__ThumbContainer {

        height: auto;
        margin: 0px 12px;

    }
}
