// GalleryMosaic Headlines Container

@include ThemerUI(GalleryMosaic){
    
    @include Element(HeadlinesContainer) {
        
        @extend %GalleryMosaic__HeadlinesContainer;
        
    }
    
    @include Element(Headlines) {
        
        @extend %GalleryMosaic__Headlines;
        
        @include Themer(background,Color-8,before) {
            
            display: block;
            height: 4px;
            position: absolute;
            top: 0px;
            width: 100%;
            
            @include Spacer(margin, all, zero auto);
            
        }
    }
};
