// RelatedContent2 Core

%RelatedContent2 {

		border-radius: 5px;
		display: block;
		height: auto;
    max-width: 728px;
    overflow: hidden;
		width: 100%;

    @include Spacer(margin, all, 4xl auto);

    @include Morpher (All-Desktop) {

        display: flex;

    }
}
