// GalleryLight Headlines Container

%GalleryLight {
	
	&__HeadlinesContainer {
		
		box-sizing: border-box;
		display: flex;
		flex-flow: wrap;
		height: auto;
		min-height: 222px;
		
		@include Spacer(padding, all, zero);
		
	}
	
	&__Headlines {
		
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
		min-height: 112px;
		
		@include Hover;
		
		&:first-of-type {
			
			&::before {
				
				display: none;
				
			}
		}
	}
}
