// GalleryLight MiniImage

%GalleryLight {
	
	&__MiniCounterContainer {
		
		cursor: pointer;
		display: flex;
		justify-content: flex-end;
		position: absolute;
		width: 46%;
	    align-items: flex-end;
	    height: 80px;
		
		@include Spacer(padding, all, zero auto);
		@include Hover;
		
		@include Morpher(Tablet) {
			
			width: 28%;
			height: 119px;
			
		}
		
		@include Morpher(All-Desktop) {
			
			height: 86px;
			
		}
		
		&:before {
			
			display: block;
			height: 100%;
			width: 100%;
			position: absolute;
			
			@include Spacer(margin, all, zero auto);
			
		}
	}
	
	&__MiniCounter {
		
		z-index: 3;
		
		@include Spacer(padding, right, sm);

	}
}