//InlineVideo Carousel Item Caption Duration

.InlineVideo {

    &__CarouselItemCaptionDurationContainer {

        bottom: 8px;
        padding: 10px;
        position: relative;

        @include Typer (SubTextCredit)

    }

    &__CarouselItemCaptionDuration {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
