//InlineVideo Carousel Item Core

.InlineVideo {

    &__CarouselItem {

        border: 0px;
        cursor: pointer;
        font-family: inherit;
        font-size: 100%;
        margin-left: 5px;
        min-width: 250px;
        padding: 0px;
        text-align: left;
        width: 250px;

        @include HoverCard;
        @include OrcaMarginReset;

        &:focus {

            outline: none;

        }
    }
}
