// ArticleRight Left Content Title

@include ThemerUI(ArticleRight){

    @include Element(TitleContainer) {

        @extend %ArticleRight__TitleContainer;

        @include Themer(background,Color-2,after) {

            content: "";
            height: 1px;
            left: 50%;
            max-width: 300px;
            position: absolute;
            transform: translate(-150px);
            width: 100%;

            @include Spacer(margin, top, xxl);

        }
    }

    @include Element(Title) {

        @extend %ArticleRight__Title;

        @include Typer(lg-b);
        @include Themer(color, Color-1);

    }
};
