// LiveBlog Chat Container

.LiveBlog {

    &__ChatContainerPinned {

        border-radius: 7px;
        margin-left: 20px;
        padding: 20px 15px;
        position: relative;
        width: 100%;

        &::before {

            border-left: 20px solid transparent;
            border-top: 20px solid #8D91A5;
            content: "";
            display: block;
            height: 0px;
            left: -15px;
            position: absolute;
            top: 0px;
            width: 0px;


        }

        @include Themer(background, Color-5);

    }
}
