// LiveBlog Chat Container

.LiveBlog {

    &__ChatDateContainerPinned {

        display: inline-flex;
        margin: 0px 0.5em;

    }

    &__ChatDatePinned {

        text-transform: uppercase;

        @include Typer(SubTextCredit);
        
    }
}
