// LiveBlog Chat Container

.LiveBlog {

    &__ChatNameContainerPinned {

        align-items: flex-end;
        display: inline-flex;
        margin-right: 1em;

        &::before {

            content: "\E001";
            display: inline-block;
            font-family: "Iconography";
            font-size: 47px;
            height: 47px;
            line-height: 1;
            width: 47px;

        }
    }

    &__ChatNamePinned {

        text-transform: uppercase;

        @include Typer(SubTextCredit);

    }
}
