// Calendar EventDate

%Calendar {

    &__EventAdressLinkContainer {

        align-items: center;
        display: flex;
        text-decoration: none;

    }

    &__EventAdressLinkIconContainer {

        max-width: 28px;
        width: 100%;

        @include Spacer(padding, all, zero sm zero zero);

    }

    &__EventAdressLinkTextContainer {

        height: auto;
        width: auto;

    }

    &__EventAdressLinkText {

        width: auto;

    }
}
