// TvGuide Item Core

.TvGuide {

    &__ShowContainer {

        display: block;
        height: 100%;
        min-width: 210px;
        padding: 10px;
        text-decoration: none;
        width: 100%;

        @include Hover;
        @include Themer(background, Color-9);


        @include Morpher(Tablet) {

            margin-left: 1px;
            width: auto;

        }

        @include Morpher(All-Desktop) {

            margin-left: 1px;
            width: auto;

        }

        &-Link {

            display: block;
            height: 100%;
            min-width: 210px;
            padding: 10px;
            text-decoration: none;
            width: 100%;

            @include Hover;
            @include Themer(background, Color-9);

            @include Morpher(Tablet) {

                margin-left: 1px;

            }

            @include Morpher(All-Desktop) {

                margin-left: 1px;

            }
        }
    }

    &__ShowContainer.Vertical {

        margin-left: 0px;

        @include Morpher(Tablet) {

            margin-left: 0px;
            width: 100%;

        }

        @include Morpher(All-Desktop) {

            margin-left: 0px;
            width: 100%;

        }
    }

}
