// TvGuide Item Title

.TvGuide {

    &__Show {

        width: 100%;

        &-Title {

            text-transform: uppercase;
            white-space: nowrap;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextInfo);

        }

        &-TitleUnderline {

            margin: 0px;
            text-transform: uppercase;
            text-decoration: underline;
            white-space: nowrap;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextInfo);

        }
    }
}
