// VideoContainer

.VideoContainer {

    &__Container {

        @include Morpher(Desktop) {

            display: grid;
            grid-area: Container;
            grid-template-areas: "Body Aside";
            grid-template-columns: 1fr 419px;

        }

        @include Morpher(Desktop-HD) {

            display: grid;
            grid-area: Container;
            grid-template-areas: "Body Aside";
            grid-template-columns: 1fr 419px;

        }
    }
}
