// VideoContainer

.VideoContainer {

    margin: 0px auto;
    max-width: 1332px;
    width: 100%;

    @include Morpher(Desktop) {

        display: grid;
        grid-template-areas: "Title" "Container" "Comments";
        grid-template-columns: 1fr;
        grid-template-rows: 3;

    }

    @include Morpher(Desktop-HD) {

        display: grid;
        grid-template-areas: "Title" "Container" "Comments";
        grid-template-columns: 1fr;
        grid-template-rows: 3;

    }
}
