// FourItemsV Title

.FourItemsV {

	&__ItemTitleContainer {

		bottom: 35px;
		box-sizing: border-box;
		height: 132px;
		overflow: hidden;
		padding: 8px 37px 8px 19px;
		position: absolute;
		width: 100%;
        z-index: 2;

        @include Morpher(All-Desktop) {

            bottom: 25px;
            height: 100px;
            padding: 8px 22px;

        }
	}

	&__ItemTitle {

		text-align: left;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(HeadlineSubExtra);

	}
}
