// FourItemsV Headline

.FourItemsV {

	&__HeadlinesText {

		padding: 24px 17px;
		text-align: left;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(ItemTitleVariant);

	}

    &__HeadlinesImageContainer {

        height: 56px;
        margin: 0px 0px 0px 17px;
        max-width: 100px;
        width: 100%;

        @include Spekter(16_9);

        padding-top: 0px;

        &:before {

            font-size: 60px!important; //Unique case for the font-size of the placeholder

        }

    }

    &__Box {

        position: relative;

    }
}
