// FourItemsV Label

.FourItemsV {

	&__LabelContainer {

        display: block;
        height: auto;
        position: relative;
        width: 100%;
        z-index: 1;

	}

	&__Label {

		padding: 10px 12px;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(SubTextTag);
		@include Themer(background, Color-2);

	}
}
