// Article Credits

%Article {

    &__CreditsContainer {

        display: flex;
        flex-direction: column;

        @include Spacer(padding,all, zero base);
        @include Spacer(margin,all, base zero);

        @include Morpher(All-Desktop) {

            align-items: center;
            flex-direction: row;
            justify-content: flex-start;

        }
    }

    &__Author {

        text-transform: uppercase;

        @include Spacer(margin,all,zero sm);

    }

    &__Date {

        text-transform: uppercase;

        @include Spacer(margin,all,sm);

        @include Morpher(All-Desktop) {

            @include Spacer(margin,all,zero sm);

        }
    }
}
