// Article Tag

.Article {

    &__TagContainer {

        margin: 1em 0px;
        padding: 0px 10px;

    }

    &__Tag {

        display: inline-flex;
        padding: 1em;
        width: auto;

        @include Themer(background, Color-1);
        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfoDesktop);

    }
}
