// Article Title

.Article {

    &__Paragraph {

        margin-bottom: 1em;

		@include Typer(BodyText);

		@include Spekter(All-Desktop) {

			@include Typer(BodyTextDesktop);

		}

		&-Bold {

            margin-bottom: 1em;
            font-weight: bold;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Italic {

            margin-bottom: 1em;
            font-style: italic;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Cursive {

			font-style: oblique;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}

		}

		&-Underline {

			text-decoration: underline;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Stroke {

			text-decoration: line-through;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Link {

			text-decoration: none;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}

			@include Themer(color, Color-1);

		}

		&-List {

			list-style: none;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}

		}

		&-ListElement {

			list-style: none;
            margin-bottom: 1em;

    		@include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}

		}
    }

	&__Text {

		@include Typer(BodyText);

		@include Spekter(All-Desktop) {

			@include Typer(BodyTextDesktop);

		}

		&-Bold {

			font-weight: bold;
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Italic {

			font-style: italic;
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}

		}

		&-Cursive {

			font-style: oblique;
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Underline {

			text-decoration: underline;
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Stroke {

			text-decoration: line-through;
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-Link {

			text-decoration: none;

			@include Themer(color, Color-1);
            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-List {

			list-style: none;

            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}

		&-ListElement {

			list-style: none;

            @include Typer(BodyText);

    		@include Spekter(All-Desktop) {

    			@include Typer(BodyTextDesktop);

    		}
		}
	}
}
