// Article Credits

.Article {

    &__CreditsContainer {

        margin: 1em 0px;
        padding: 0px 10px;


        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

        @include Morpher(All-Desktop) {

            align-items: center;
            display: flex;

        }
    }

    &__Author {

        margin: 0px 5px;

    }
}
