// Search Container

%Search {

    &__TitleContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        text-align: center;

        @include Spacer(margin, all, base auto);

    }

    &__Title {

        display: block;

    }
}
