// EventList Headline

@include ThemerUI(EventList){
    
    @include Element(TimeContainer) {
        
        @extend %EventList__TimeContainer;
        
        @include Themer(background,Color-8,after) {
            
            content: "";
            display: flex;
            height: 2px;
            height: 38px;
            width: 2px;
            
            @include Spacer(margin, left, base);
            
        }
    }
    
    @include Element(Time) {
        
        @extend %EventList__Time;
        
        @include Typer(md);
        @include Themer(color, Color-2);
        
    }
};
