// ShareBar Link

.RelatedContent {

    &__ShareBarLink {

        display: block;
        height: 40px;
        position: relative;
        width: 40px;
        
        @include Themer(background,Color-1,after) {
        
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            right: 0px;
            width: 1px;
        
            &:hover {
                
                opacity: 0px;
                
            }
        }

        &:last-child {
            
            @include Themer(background,Color-1,after) {
                
                display: none;
                
            }
        }
    }
}
