// TvGuideBold Container

.TvGuideBold {

    &__Container {

        align-items: center;
        display: flex;
        height: 85px;
        justify-content: center;

        @include Layout(Full);

        @include Morpher(Tablet) {

            height: 90px;

        }

        @include Morpher(All-Desktop) {

            height: 90px;

        }
    }
}
