// Card Person Names

.CardPerson {
    
    &__Names {
        
        height: 0px;
        margin-top: 8px;
        
        @include Morpher(All-Desktop) {
            
            margin-top: 0px;
            
        }
    }
}
