// HighImpactCentered Right Items Title

.HighImpactCentered {

    &__RightItemTitleContainer {

        display: block;
        padding: 0px 5px;
        width: 100%;

    }

    &__RightItemTitle {

        height: 100%;
        max-height: 40px;
        overflow: hidden;
        text-align: left;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);

        @include Morpher(All-Desktop) {

            height: 100%;
            max-height: 60px;

            @include Typer(SubTextTagDesktop);

        }
    }
}
