// NotesCarousel Item Title

%NotesCarousel {

    &__ItemTitleContainer {



    }

    &__ItemTitle {

        margin: 0px;
        padding: 6px;
        text-transform: uppercase;

        @include Typer(SubTextCredit);

    }
}
