// NotesCarousel Item Description

%NotesCarousel {

    &__ItemDescriptionContainer {

        display: none;

    }

    &__ItemDescription {

        display: block;
        margin: 0px;
        padding: 6px;

        @include Typer(FooterTextContact);

    }
}
