// NotesCarousel Item Thumbnail

%NotesCarousel {

    &__ItemThumbnail {

        position: relative;
        width: 100px;

        @include Morpher (All-Desktop) {

            width: 150px;

        }
    }
}
