// NotesCarousel Item Title

.NotesCarousel {

    &__ItemTitleContainer {

        

    }

    &__ItemTitle {

        font-family: sans-serif;
        font-size: 14px;
        line-height: 16px;
        margin: 0px;
        padding: 6px;
        text-transform: uppercase;

    }
}
