// NotesCarousel Item Title

%NotesCarousel {

    &__ItemTitleContainer {

        display: inline-block;
        margin: auto;

    }

    &__ItemTitle {

        margin: 0px;
        padding: 6px;
        text-transform: uppercase;

    }
}
