// NotesCarousel Item Caption

%NotesCarousel {

    &__ItemCaption {

        align-content: center;
        border-radius: 0px 5px 5px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100px;
        width: 200px;

        @include Morpher (All-Desktop) {

            height: 150px;
            width: 250px;

        }
    }
}
