// NotesCarousel Item Image

%NotesCarousel {

    &__ItemImageContainer {

        height: 100px;
        position: relative;
        width: 100px;

        @include Morpher (All-Desktop) {

            height: 150px;
            width: 150px;

        }

    }

    &__ItemImage {

        border-radius: 50% 0px 0px 50%;
        width: 100%;

    }
}
