// NotesCarousel Item Caption

.NotesCarousel {

    &__ItemCaption {

        align-content: center;
        background-color: #000;
        border-radius: 0px 5px 5px 0px;
        color: #FFF;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        width: 200px;

    }
}
