// EndCard Elements

%EndCard {

    &__Elements {

        display: flex;
        justify-content: center;
        padding-top: 56.25%;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 3;

    }
}
