// Image Text Container |

.LeadImage {

	&__Text {

	text-align: left;
	padding: 7px 5px 2px 10px;

	@include Typer(SubTextCredit);
	@include Themer(color, Text-Light-Headlines);

		&-Inner {

			text-align: left;
			padding: 7px 5px 2px 10px;

			@include Typer(SubTextCredit);
			@include Themer(color, Text-Light-Headlines);

		}
	}
}
