// FiveItems Bottom Title

.FiveItems {

    &__ItemBottomItemsLabelContainer {

        display: block;
        margin: 0% 2%;
        min-width: 100px;
        position: relative;
        width: 100%;
        z-index: 3;
        
        @include Morpher(All-Desktop) {

            margin: 0%;
            
        }
    }

    &__ItemBottomItemsLabel {

		box-sizing: border-box;
        text-align: left;
        padding: 2% 6% 0%;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleExtra);
        
        @include Themer(background, Color-3, after) {

			height: 20px;
			position: absolute;
			left: 3%;
			width: 3px;

		}
        
        @include Morpher(All-Desktop) {
            
            padding: 2% 5% 0%;
            
        }
    }
}
