// FiveItems Bottom Icon

.FiveItems {

    &__ItemBottomItemsIconContainer {

        display: flex;
        justify-content: center;
        min-height: 60px;
        position: absolute;
        top: 35%;
        width: 100%;

    }

    &__ItemBottomItemsIcon {

        border-radius: 50%;
        height: 60px;
        width: 60px;

        @include Themer(background, Color-4);
        @include Themer(border, Color-1, 'solid 2px');

    }
}
