// FiveItems Bottom Core

.FiveItems {

    &__ItemBottomItems {

        display: block;
        margin: 20px 0px;
        position: relative;
        text-decoration: none;
        width: 100%;

        @include HoverCard;
        
        @include Morpher(All-Desktop) {

            margin: 0px;
            
        }
    }
}
