// FiveItems Bottom Title

.FiveItems {

    &__ItemBottomItemsTitleContainer {

        width: 100%;
        height: 100%;

    }

    &__ItemBottomItemsTitle {

		box-sizing: border-box;
        text-align: left;
        padding: 2% 4%;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleExtra);
        
        @include Morpher(All-Desktop) {
            
            padding: 4% 2%;
            
        }
    }
}
