// FiveItems Duration

.FiveItems {

    &__ItemBottomItemsDurationContainer {

        bottom: 0px;
        display: flex;
        height: 42px;
        justify-content: center;
        margin: 0px auto;
        margin: 0px auto;
        position: absolute;
        top: 52%;
        width: 100%;
        width: 70px;

 	}

	&__ItemBottomItemsDuration {

        position: relative;
        text-shadow: 0px 1px 4px rgba(0,0,0,0.8);

		@include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextCredit);

 	}
}