// Ticker Carousel Container

.Ticker {

	&__CarouselContainer {

		height: auto;
		max-width: 100%;

		@include Themer(background, Color-9);

		@include Morpher(Laptop) {

			height: 60px;
			max-width: 61%;
            padding: 0px 40px;
            width: 100%;

		}

		@include Morpher(Desktop) {

			height: 60px;
			margin: 0px auto;
			max-width: 69%;
            padding: 0px 40px;
            width: 100%;

		}

		@include Morpher(Desktop-HD) {

			height: 60px;
			margin: 0px auto;
			max-width: 72%;
            padding: 0px 40px;
            width: 100%;

		}
	}
}
