// Versus Live Core

%Versus {
    
    &__TeamsLiveContainer {
        
        align-items: center;
        display: flex;
        height: auto;
        justify-content: center;
        text-align: left;
        text-decoration: none;
        width: 100%;
        
        @include Spacer(margin,bottom, sm);
        
        @include Morpher(All-Desktop) {
            
            @include Spacer(margin,bottom, zero);
            
        }
    }
}

