// Versus Live Core

%Versus {
    
    &__TeamsLiveIconContainer {
        
        display: block;
        width: 40px;
        height: 30px;
        
    }
    
    &__TeamsLiveIcon {
        
        display: block;
        width: 30px;
        height: 30px;
        font-size: 35px !important;
        
    }
}

