// LiveToolBar Swipe Cards

.LiveToolBar {

    &__SwipeCards {

        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        @include Themer(background, Color-1);
        
    }
}
