// High Impact Full Slider Item Description

.HighImpact {

    &__SliderItemDescriptionContainer {

        display: none;
        position: absolute;

        @include Morpher(All-Desktop) {

            align-items: flex-start;
            bottom: 55px;
            display: flex;
            height: 80px;
            overflow: hidden;
            width: 70%;

        }

        @include Morpher(Laptop) {

            bottom: 40px;
            height: 60px;
            width: 85%;

        }
    }

    &__SliderItemDescription {

        max-width: 768px;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleDescription);

        @include Morpher(Tablet) {

            @include Typer(ItemTitleDescription);

        }

        @include Morpher(Laptop) {


            @include Typer(ItemTitle);

        }

        @include Morpher(Desktop) {

            @include Typer(ItemTitleDesktop);

        }

        @include Morpher(Desktop-HD) {

            max-width: 1024px;

            @include Typer(ItemTitleDesktop);

        }
    }
}
