// High Impact Full Slider Item AirTime

.HighImpact {

    &__SliderItemAirTimeContainer {

        display: flex;
        justify-content: flex-start;
        top: 77%;
        width: 95%;

        @include Morpher(Tablet) {

            top: 22%;
            width: 95%;

        }

        @include Morpher(Laptop) {

            top: 35%;
            width: 80%;

        }

        @include Morpher(Desktop) {

            top: 42%;
            width: 70%;

        }

        @include Morpher(Desktop-HD) {

            top: 46%;
            width: 70%;

        }
    }

    &__SliderItemAirTime {

        display: block;

        @include Themer(color, Text-Light-Body);
        @include Typer(SubTextInfo);

        @include Morpher(All-Desktop) {

            @include Typer(SubTextInfoDesktop);

        }
    }
}
