// High Impact Full Slider Item Logo

.HighImpact {

    &__SliderItemLogoContainer {

        bottom: 25%;
        left: 0%;
        margin: auto;
        position: absolute !important;
        right: 0%;
        width: 95%;


        @include Morpher(Tablet) {

            bottom: 79%;

        }

        @include Morpher(Laptop) {

            bottom: 71%;
            width: 80%;

        }

        @include Morpher(Desktop) {

            bottom: 61%;
            width: 70%;

            @include Layout(Wrapper);

        }

        @include Morpher(Desktop-HD) {

            bottom: 56%;
            width: 70%;

            @include Layout(Wrapper);

        }
    }

    &__SliderItemLogo {

        max-width: 80px;

        @include Morpher(All-Desktop) {

            max-width: 209px;

        }

        @include Morpher(Laptop) {

            max-width: 80px;

        }
    }
}
