// High Impact Full Item Slider Video

.HighImpact {

    &__SliderItemVideoContainer {

        cursor: pointer;

        @include Spekter(9_16);

        position: absolute;

        @include Morpher(Tablet) {

            @include Spekter(4_3);

            position: absolute;

        }

        @include Morpher(All-Desktop) {

            @include Spekter(40_17);

            position: absolute;

        }
    }

    &__SliderItemVideo {

        bottom: 0px;
        left: 0px;
        margin: auto;
        max-width: 820px;
        max-height: 216px;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;

        @include Morpher(Tablet) {

            max-height: 326px;

        }

        @include Morpher(All-Desktop) {

            max-height: 462px;

        }
    }
}
