// High Impact Full Slider Item Source

.HighImpact {

    &__SliderItemSourceContainer {

        bottom: 15px;
        display: flex;
        height: 30px;
        width: 95%;

        @include Morpher(All-Desktop) {

            display: flex;
            height: 15px;
            overflow: hidden;
            width: 70%;

        }

        @include Morpher(Laptop) {

            width: 85%;

        }
    }

    &__SliderItemSource {

        @include Themer(color, Text-Light-Body);
        @include Typer(SubTextCredit);


        @include Morpher(Desktop) {

            @include Typer(SubTextCreditDesktop);

        }
    }
}
