// High Impact Full Slider Item Title

.HighImpact {

    &__SliderItemTitleContainer {

        bottom: 40px;
        display: flex;
        padding-bottom: 10px;
        position: absolute;
        width: 95%;

        @include Morpher(All-Desktop) {

            align-items: flex-end;
            bottom: 135px;
            display: flex;
            overflow: hidden;
            width: 70%;

        }

        @include Morpher(Laptop) {

            bottom: 100px;
            width: 85%;

        }
    }

    &__SliderItemTitle {

        max-width: 1024px;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);

        @include Morpher(Tablet) {

            @include Typer(BodyTextDesktop);

        }

        @include Morpher(Laptop) {

            @include Typer(BodyTextDesktop);

        }

        @include Morpher(Desktop) {

            @include Typer(HeadlineSub);

        }

        @include Morpher(Desktop-HD) {

            @include Typer(HeadlineMain);

        }
    }
}
