// FourItems Thumbnail

.FourItems {

	&__ItemThumbnail {

		display: block;
		position: relative;
		width: 100%;

	}

	&__ItemImageContainer {

		@include Spekter(1_1);

	}
	

	&__ItemIconContainer {

		display: none;

	}
}
