// FourItems Label

.FourItems {

	&__LabelContainer {

		display: block;
		margin: 0px auto;
		max-height: 60px;
		max-width: 200px;
		position: relative;
		z-index: 1;

		@include Hover;

	}

	&__Label {

		display: block;
		height: auto;
		margin: 0px auto;
		padding: 5%;
		position: absolute;
		text-align: center;
		text-decoration: none;
		width: 100%;

		@include Themer(color, Text-Light-Headlines);
		@include Typer(SubTextTag);
		@include Themer(background, Color-2);
		
	}
}
