// FourItems Headlines Container

.FourItems {
	
	&__HeadlinesContainer {
		
		box-sizing: border-box;
		display: flex;
		flex-flow: wrap;
		height: auto;
		min-height: 391px;
		padding: 20px 0px;
		
		@include Themer(background, Color-1);
		
	}
	
	&__Headlines {
		
		display: block;
		text-decoration: none;
		width: 100%;
		
		@include Themer(background,Color-4,before) {
			
			display: block;
			height: 1px;
			margin-top: 90%;
			margin: auto;
			position: relative;
			width: 50%;
			
		}
		
		&:first-of-type {
			
			&::before {
				
				display: none;
				
			}
		}
	}
}
