// PromoCards Buttons

.PromoCards {

    &__ButtonsContainer {

        display: none;
        text-align: center;
        width: 100%;

        @include Morpher(All-Desktop) {

            display: block;
            width: 100%;

        }
	}

    &__Button {

        border: 0px;
        cursor: pointer;
        margin: 5px;
        padding: 7px;
        min-width: 200px;

        @include HoverCard;
        @include Themer(background, Color-4);
        @include Themer(color, Text-Dark-Body);

        &:focus {

            outline: none;

        }
    }

    &__ButtonText {

        text-transform: uppercase;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleExtra);

    }
}
