// PromoCards Buttons Active

.PromoCards {

    &__Button-Active {

        border: 0px;
        cursor: pointer;
        padding: 7px;
        margin: 5px;
        min-width: 200px;
        text-transform: uppercase;

        @include HoverCard;
        @include Themer(background, Color-1);

        &:focus {

            outline: none;

        }
    }

    &__ButtonText-Active {

        @include Typer(SubTextButton);
        @include Themer(color, Text-Light-Headlines);

    }

	&__CarouselButton-Active {

        border: 0px;
        cursor: pointer;
        padding: 7px;
        margin: 5px;
        min-width: 200px;
        text-transform: uppercase;

        @include HoverCard;
        @include Themer(background, Color-1);

        &:focus {

            outline: none;

        }
    }

    &__CarouselButtonText-Active {

        @include Typer(SubTextButton);
        @include Themer(color, Text-Light-Headlines);

    }
}
