// ArticleRight Left Content Share

%ArticleRight {

    &__ShareContainer {

        display: block;

    }

    &__Share {

        display: flex;
        justify-content: center;

        @include Spacer(margin, all, zero);

    }

    &__ShareIcon {

        border: none;
        border-radius: 5px;
        height: 40px;
        width: 40px;

        @include Spacer(margin, all, zero sm);
        @include Themer(background, Color-1);

        &.Icn_Facebook {

            color: #3b5998;

            &:hover {

                opacity: .7;

            }
        }

        &.Icn_Twitter {

            color: #00aced;

            &:hover {

                opacity: .7;

            }
        }

        &.Icn_Instagram {

            color: #f24664;

            &:hover {

                opacity: .7;

            }
        }
    }
}
