// ArticleRight Left Content Image

%ArticleRight {

    &__ImageContainer {

        display: block;

    }

    &__Image {

        display: block;
        height: 100%;
        overflow: hidden;
        width: 100%;

    }
}
