// ArticleRight Left Content Core

%ArticleRight {

    &__LeftContent {

        height: auto;
        position: relative;
        width: 100%;

        @include Themer(background, White);

        @include Morpher(All-Desktop) {

            width: 30%;
            height: 100vh;
            position: sticky;
            top: 0px;

        }
    }
}
