// NotesCarousel Carousel Thumbnails

%NotesCarousel {

    &__CarouselThumbnails {

        align-items: center;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;

    }

    @include Morpher (All-Desktop) {

        overflow: hidden;

    }
}
