// NotesCarousel Carousel Core

%NotesCarousel {

    &__Carousel {

        height: 118px;
        position: relative;

        @include Spacer(margin,all, zero auto);

        @include Morpher (All-Desktop) {

            height: 168px;

        }
    }
}
