// NotesCarousel Carousel Arrows

%NotesCarousel {

    &__CarouselArrowsContainer {

        display: none;

        @include Morpher (All-Desktop) {

            display: inline-block;
            height: 170px;
            position: absolute;
            right: 0px;
            width: 50px;

            @include Themer(background, Color-3);

        }

    }

    &__CarouselArrow {

        &-Previous {

            display: none;

            @include Morpher(All-Desktop) {

                align-items: center;
                cursor: pointer;
                display: block;
                height: 85px;
                margin-left: 5px;
                width: 45px;
                z-index: 5;

                @include Hover(.3s, .5);
                @include Themer(background, Color-2);

            }
        }

        &-Next {

            display: none;

            @include Morpher(All-Desktop) {

                align-items: center;
                bottom: 0px;
                cursor: pointer;
                display: block;
                height: 85px;
                margin-left: 5px;
                position: absolute;
                width: 45px;
                z-index: 5;

                @include Hover(.3s, .5);
                @include Themer(background, Color-2);

            }
        }
    }

    .Icn_ArrowLeft {

        cursor: pointer;
        height: 60px;

        @include Themer(background, Color-3);

        @include Morpher (All-Desktop) {

            height: 85px;

            &:before {

                font-size: 30px;

            }

        }

    }

    .Icn_ArrowRight {

        cursor: pointer;
        height: 60px;

        @include Themer(background, Color-3);

        @include Morpher (All-Desktop) {

            height: 85px;

            &:before {

                font-size: 30px;

            }
        }
    }
}
