// NotesCarousel Carousel Core

%NotesCarousel {

    &__Carousel {

        height: 120px;
        margin: 0 auto;
        position: relative;

        @include Morpher (All-Desktop) {

            height: 170px;

        }
    }
}
