

.SocialNetworks {

	&__LinkSocial{

		border-radius: 50%;
		height: 35px;
		left: 2%;
		position: absolute;
		text-align: center;
		top: 24%;
		transition:transform ease-out 200ms;
		width: 35px;

 		@include Themer (color, Color-3);

		@include Morpher (All-Desktop) {

			top: 41%;

		}
	}

	.Icn_Twitter {

		color: #00aced;

		&:hover {

			color: rgba(0,172,237, 0.5);
		}
	}
	.Icn_Facebook {

		color: #3b5998;

		&:hover {

			color: rgba(59,89,152, 0.5);
		}

	}

	.Icn_Instagram {

		color: #F24664;

		&:hover {

			color: rgba(59,89,152, 0.5);
		}
	}
}
