// FiveItems Items Top

.FiveItems {

	&__ItemsTop {

		@include Morpher(All-Desktop) {

			display: grid;
			grid-gap: 20px;
			grid-template-columns: 1fr 1fr;
			margin-bottom: 20px;

		}

		:nth-of-type(2) {

			display: none;

			@include Morpher(All-Desktop) {

				display: block;

			}
		}
	}
}
