// Quote Container

.Quote {
    
    &__Container {
        
        display: flex;
        height: auto;
        justify-content: center;
        margin: 20px;
        min-height: 125px;
        padding: 0px 10px;
        position: relative;
        
        @include Themer(background, Color-5, before) {
            
            height: 2px;
			margin: 0px auto;
			position: absolute;
            top: 0%;
            width: 5%;
            
        }
        
        @include Themer(background, Color-5, after) {
            
            bottom: 0%;
            height: 2px;
			margin: 0px auto;
			position: absolute;
			width: 5%;
            
        }
    }
}