// Grid Multi Content Thumbnail

%GridGallery {
	
	&__ItemFullThumbnail {

		bottom: 0px;
		display: flex;
		flex-direction: column;
		height: 100%;
		left: 0px;
		overflow-y: scroll;
		position: fixed;
		right: 0px;
		top: 0px;
		width: 100%;
		z-index: 9;
		
	}
}
