// RelatedContent1 Share

%RelatedContent1 {

    &__Share {

        display: block;

    }


    &__ShareList {

        @include Spacer(margin, all, md auto);
        @include Spacer(padding, all, zero);

    }

    &__ShareItem {

        display: inline-block;
        font-size: 30px;
        list-style: none;
        max-height: 35px;

        @include Spacer(padding, all, zero sm);

    }

    &__ShareLink {

        text-decoration: none;

        &::before {

            font-size: 30px;

        }
    }    
}
