// RelatedContent1 Botton

%RelatedContent1 {

    &__Thumbnail {

        display: none;
        height: 100%;
        max-width: 163px;
        max-height: 163px;
        position: relative;
        width: 100%;
        
        
        @include Morpher(All-Desktop) {

            display: block;

        }

    }
    
    &__ImageContainer {

        @include Spekter(1_1, relative);

    }

    &__Image {               

        width: 100%;

    }
}