// RelatedContent1 Text

%RelatedContent1{

    &__Text {

        padding: 10px 10px 0px 10px;
        width: 100%;

        @include Spacer(padding, all, md);

        @include Morpher (All-Desktop) {

            position:relative;

            @include Spacer(margin, all, zero);

	    }
    }    
}