// RelatedContent1 Botton

%RelatedContent1 {
  
    &__ButtonContainer {

        width: auto;

    }

    &__Button {

        cursor: pointer;
        text-align: center;
        border: none;
        height: 100%;
        width: 60px;

    }
}
