// Inline Gallery Share Bar Desktop

.InlineGallery {
    
    &__ShareBarDesktop {
        
        display: none;
        
        @include Morpher(Tablet){
            
            display: none;
            
        }
        
        @include Morpher(All-Desktop){
            
            align-items: center;
            display: flex;
            height: 45px;
            justify-content: center;
            width: 150px;
            
        }
    }
}
