// TvGuide Carousel Core

.TvGuide {

    &__Carousel {

        margin: 0px auto;
        max-width: 100%;
        position: relative;

        @include Morpher(Tablet) {
        
            margin-bottom: 30px;
            margin-top: 0px;
            margin: 0px auto;
            max-width: 1130px;
            position: relative;
        
        }
        
        @include Morpher(All-Desktop) {
        
            margin-bottom: 30px;
            margin-top: 0px;
            margin: 0px auto;
            max-width: 1130px;
            position: relative;
        
        }
    }
}
