// PromoCards Chapter Carousel Item Icon

.PromoCards {

    &__CarouselItemChapterIconContainer {

        display: block;
        position: absolute;
        top: 42%;
        width: 100%;
        z-index: 2;

    }

    &__CarouselItemChapterIcon {

        border-radius: 50%;
        font-size: 25px !important;
        height: 50px !important;
        margin: 0px auto;
        width: 50px !important;

        @include Hover;
        @include Themer(background, Color-2);
        @include Themer(border, Color-1, 'solid 2px');

    }
}
