// PromoCards Chapter Carousel Item Core

.PromoCards {

    &__ItemContainer {

        display: block;
        transition: transform .6s;
        width: 100%;
        
        &:hover {

            box-sizing: border-box;
            outline: 8px solid #7e848c;
            transform: scale(1.05);
            z-index: 1;

        }
    }
}
