// Header Core

.Header {

    width: 100%;

    @include Themer(background, Color-2);

    &__Dinamic {

        grid-area: dinamic;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 1em;
        padding-top: 0px;

        @include Morpher(All-Desktop) {

            justify-content: flex-end;
            padding: 0px;

        }
    }

    &__Mobile {

        align-items: center;
        display: flex;
        height: 60px;
        justify-content: space-between;

        @include Themer(background, Color-2);

        @include Morpher(All-Desktop) {

            display: none;

        }

        &-Sticky {

            height: 60px;
            display: flex;
            justify-content: space-between;
            position: fixed;
            top: 0;
            align-items: center;

            @include Themer(background, Color-2);

            @include Morpher(All-Desktop) {

                display: none;

            }
        }
    }

    button {
        background: transparent;
        border: none;
        padding: 0px;
        margin: 0px;
    }


    .ActiveMenu {

        visibility: visible;
        opacity: 1;

    }

    .InactiveMenu {

        visibility: hidden;
        opacity: 0;

        @include Morpher(All-Desktop) {

            visibility: visible;
            opacity: 1;

        }
    }
}
