// LeadSlideShow Slider Item Counter

.LeadSlideShow {

    &__SliderItemCounter {

		align-items: center;
		display: flex;
		height: 100%;
        padding: 2%;
        position: absolute;
		right: 0px;
        top: 0%;

        &-Inner {

            align-items: center;
    		display: flex;
    		height: 100%;
            padding: 2%;
            position: absolute;
    		right: 0px;
            top: 0%;

        }
    }

    &__SliderItemCounterNumber {

        @include Themer(color, Color-7);
        @include Typer(SubTextTag);

        @include Morpher (All-Desktop) {

            @include Typer(SubTextTagDesktop);

        }

        &-Inner {

            @include Themer(color, Color-7);
            @include Typer(SubTextTag);

            @include Morpher (All-Desktop) {

                @include Typer(SubTextTagDesktop);

            }

        }
    }
}
