// LeadSlideShow Slider Item Counter

.LeadSlideShow {

    &__SliderItemCreditContainer {

		display: flex;
    	margin: 2% 3%;
    	position: relative;
    	width: 90%;

        &-Inner {

            display: flex;
        	margin: 2% 3%;
        	position: relative;
        	width: 90%;

        }
    }

    &__SliderItemCredit {

        @include Themer(color, Mini-Text-Light);
        @include Typer(SubTextCredit);

        @include Morpher (All-Desktop) {

            @include Typer(SubTextCreditDesktop);

        }

        &-Inner {

            @include Themer(color, Mini-Text-Light);
            @include Typer(SubTextCredit);

            @include Morpher (All-Desktop) {

                @include Typer(SubTextCreditDesktop);

            }

        }
    }
}
