// HighImpact Full Slider Track

.HighImpact {

    &__SliderTrack {

        height: 100%;
        padding-top: 177.78%;
        width: 100%;

        @include Morpher(Tablet) {

            padding-top: 75%;

        }

        @include Morpher(All-Desktop) {

            padding-top: 42.5%;

        }

    }
}
