// Ticker Link Icon

.Ticker {

    &__LinkIcon {

        height: 16px;
        position: absolute;
        right: 20px;
        top: 8px;
        width: 17px;

        @include Themer(color, White);

        @include Morpher(All-Desktop) {

          top: 11px;

        }
    }
}
