// Ticker Description

.Ticker {

    &__ShowDescriptionContainer {

        display: flex;
        height: auto;
        margin: 0px 0px 3px 0px;
        max-height: 30px;
        overflow: hidden;
        padding: 0px 20px 0px 0px;
        position: relative;
        width: 100%;

        @include Themer(color, White);

        @include Morpher(All-Desktop) {

            bottom: 0px;

        }
    }

	&__ShowDescription {

        text-align: left;
        width: 93%;

        @include Themer(color, Text-Light-Body);
		@include Typer(SubTextInfo);

		&-Bold {

			display: flex;
			position: relative;

		}

		&-Italic {

			display: flex;
			position: relative;

		}
	}
}
