// HighImpactFull Core

.HighImpact {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, auto);
    margin: 0px auto;

    @include Layout(Full);
    @include WidgetBottomSpace;

}
