// Calendar Event

@include ThemerUI(Calendar) {

    @include Element(EventContainer) {

        @extend %Calendar__EventContainer;

        @include Themer(background, Color-1, before) {

            content: "";
            height: 100%;
            position: absolute;
            transition: .5s ease-in-out;
            width: 5px;

        }

        &:hover {

            @include Themer(background, Color-1, before) {

                opacity: 0.7;
                width: 100%;
                z-index: 0;

            }
        }
    }

    @include Element(EventsContainer) {

        @extend %Calendar__EventsContainer;

        .Calendar__EventContainer:nth-child(odd) {

            @include Themer(background, Gradient-3A, before);

            &:hover {

                @include Themer(background, Gradient-3A, before);

            }

        }

    }
};
