// Errors Container

%Errors {

    &__DescriptionContainer {

        max-width: 500px;
        text-align: center;

        @include Spacer(margin, all, zero auto);

    }

    &__Description {

        display: block;

    }
}
