// Errors Container

.Errors {

    &__DescriptionContainer {

        margin: 0px auto;
        max-width: 500px;
        text-align: center;

    }

    &__Description {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(BodyTextSubtitleDesktop);

    }
}
