// Errors Container

.Errors {

    &__SearchContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        margin: 2em auto;
        max-width: 300px;
        padding: 10px;

        @include Themer(border, Color-2, "solid 1px");

        @include Morpher(All-Desktop) {

            max-width: 400px;

        }
    }

    &__Search {

        flex-grow: 1;
        width: 90%;
        
    }

    &__Input {

        background: transparent;
        border: none;
        height: 35px;
        padding-left: 10px;
        width: 100%;

        @include Themer(border-left, Color-2, "solid 1px");
        @include Themer(color, Text-Light-Headlines);
        @include Typer(BodyTextSubtitle);

    }
}
