// LeadSlideShow Slider Arrows

.LeadSlideShow {

    &__SliderArrow {

        &-Previous {

            align-items: center;
            cursor: pointer;
            display: flex;
            height: 60px;
            justify-content: flex-start;
            left: 0px;
            position: absolute;
            top: 40%;
            width: 40px;
            z-index: 3;

            @include HoverButton;

        }

        &-Next {

            align-items: center;
            cursor: pointer;
            display: flex;
            height: 60px;
            justify-content: flex-end;
            position: absolute;
            right: 0%;
            top: 40%;
            width: 40px;
            z-index: 3;

            @include HoverButton;

        }
    }
}
