// SliderShow Slider Button

.LeadSlideShow {

    &__SliderButton {

        background: none;
        border: 0px;
        cursor: pointer;
        height: 60px;
        width: 40px;

        @include Themer(background, Color-2);
        @include Themer(color, Color-7);

        &:focus {

            outline: none;

        }

        &-Inner {

            background: none;
            border: 0px;
            cursor: pointer;
            height: 60px;
            width: 40px;

            @include Themer(background, Color-2);
            @include Themer(color, Color-7);

            &:focus {

                outline: none;

            }

        }
    }
}
