// LeadSlideShow Slider Core

.LeadSlideShow {

    &__Slider {

        margin: 0px auto;
        position: relative;
        width: 100%;

        &-Inner {

            margin: 0px auto;
            position: relative;
            width: 100%;

        }
    }
}
