// Calendar EventDate

%Calendar {

    &__EventDateContainer {

        display: flex;
        flex-direction: column;
        margin: 9px 6px 9px 12px;
        max-width: 50px;
        width: 100%;
        z-index: 2;

    }

    &__EventDateMonth {

        z-index: 2;

        @include Typer(SubTextInfo);

    }

    &__EventDateNumber {

        z-index: 2;

        @include Typer(HeadlineMainDescription);

    }

    &__EventDateDay {

        z-index: 2;

        @include Typer(FooterTextCopyright);

    }

    &__EventDescriptionContainer {

        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        z-index: 2;

    }

    &__EventDescriptionLink {

        margin: 0px;
        text-decoration: none;

        @include Typer(ItemTitleDescription)

    }

    &__EventDescriptionTime {

        @include Typer(SubTextInfo)

    }

    &__EventAdressLinkContainer {

        align-items: center;
        display: flex;
        text-decoration: none;

    }

    &__EventAdressLinkIconContainer {

        max-width: 26px;
        padding: 0px 6px 0px 0px;
        width: 100%;

    }

    &__EventAdressLinkTextContainer {

        height: auto;
        width: auto;

    }

    &__EventAdressLinkText {

        @include Typer(FooterTextContact);

    }
}
