// Calendar Title

%Calendar {

    &__CurrentContainer {

        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        height: 150px;
        justify-content: center;
        margin: 0px 0px 27px 0px;
        position: relative;
        width: 100%;

    }

    &__CurrentDateContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        padding: 5px 0px 10px 0px;
        position: relative;
        width: 100%;

    }

    &__CurrentDateDay {

        z-index: 2;

        @include Typer(FooterTextContact);
        @include IconShadow;

    }

    &__CurrentDateNumber {

        margin: 0px 5px;
        z-index: 2;

        @include Typer(ItemTitleDescription);
        @include IconShadow;

    }

    &__CurrentDateMonth {

        z-index: 2;

        @include Typer(FooterTextContact);
        @include IconShadow;

    }

    &__CurrentDateTimeContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        width: 100%;

    }

    &__CurrentDateTimeHour {

        z-index: 2;

        @include Typer(ItemTitle);
        @include IconShadow;

    }

    &__CurrentDateTimeMinutes {

        display: flex;
        flex-direction: row;
        margin: 0px;
        padding: 0px;
        position: relative;
        width: auto;

        @include Typer(ItemTitle);
        @include IconShadow;

    }

    &__CurrentImageContainer {

        opacity: 0.5;
        overflow: hidden;
        top: 0px;
        z-index: 0px;

        @include Spekter(16_9, absolute);

    }

    &__CurrentImage{

        width: 100%;

    }
}
