// Calendar Title

%Calendar {

    &__TitleContainer {

        display: flex;
        justify-content: center;
        padding: 10px;
        position: relative;
    }

    &__Title {

        @include Typer(ItemTitle);

        @include Morpher(All-Desktop) {

            @include Typer(ItemTitleDesktop);

        }
    }
}
