// TvGuideBold Progress Bar Core

.TvGuideBold {

    &__ProgressBarContainer {

        display: flex;
        width: 103%;

    }

    &__ProgressBar {

        display: flex;
        height: 5px;
        width: 100%;

        @include Themer(background, Color-1);

        @include Morpher(Tablet) {

            height: 5px;

        }

        @include Morpher(All-Desktop) {

            height: 5px;

        }
    }
}

.TvGuideBold rect {

    height: 100%;

}
