// Content Container

%PageContent {

    &__Container {

        @include Layout(Wrapper);

        @include Morpher(Desktop) {

            display: grid;
            grid-area: Container;
            grid-template-areas:
            "Lead Aside"
            "Body Aside"
            "BodyFull BodyFull"
            ;
            grid-template-columns: minmax(65%, 70%) minmax(355px, 30%);
            position: relative;

        }

        @include Morpher(Desktop-HD) {

            display: grid;
            grid-area: Container;
            grid-template-areas:
            "Lead Aside"
            "Body Aside"
            "BodyFull BodyFull"
            ;
            grid-template-columns: 70% 30%;
            position: relative;

        }

        &-Left {

            @include Layout(Wrapper);

            @include Morpher(Desktop) {

                grid-template-areas:
                "Aside Body"
                "BodyFull BodyFull"
                ;
                grid-template-columns: minmax(355px, 30%) minmax(65%, 70%) ;

            }

            @include Morpher(Desktop-HD) {

                grid-template-areas:
                "Aside Body"
                "BodyFull BodyFull"
                ;
                grid-template-columns: 30% 70%;

            }
        }
    }
}
