// Content Core

.PageContent {

    @include Morpher(Desktop) {

        display: grid;
        grid-template-areas: "Lead" "Container";
        grid-template-columns: 1fr;

    }

    @include Morpher(Desktop-HD) {

        display: grid;
        grid-template-areas: "Lead" "Container";
        grid-template-columns: 1fr;

    }
}
