//InlineGallery Carousel Item Title Caption

.InlineGallery {
    
    &__CarouselItemTitleContainer {

        bottom: 0px;
        min-height: 66px;
        padding: 6px;
        position: absolute;
        width: 100%;

        @include Themer(background, Color-2);

    }

    &__CarouselItemTitle {
        
        @include Themer(color, Text-Light-Body);
        @include Typer(SubTextTag);
        
        @include Morpher(All-Desktop) {

            @include Typer (SubTextTagDesktop);    

        }
    }
}
