// InlineGallery Aside Title 

.InlineGallery {

    &__AsideTitleContainer {

        margin-bottom: 18px;
        width: 70%;

        @include Morpher(All-Desktop) {

            width: 100%;

        }
    }

    &__AsideTitle {

        @include Themer (color, Text-Light-Headlines);
        @include Typer (ItemTitle);
        
        @include Morpher(All-Desktop) {

            @include Typer (ItemTitleDesktop);    

        }
    }
}
