// InlineGallery Aside Ads

.InlineGallery {

    &__AsideAdsContainer {

        display: none;

        @include Morpher(All-Desktop) {

            display: block;
            margin-top: 18px;
            text-align: center;

            @include Themer(color, Mini-Text-Light);
            @include Typer(SubTextInfo);
            
            @include Morpher(All-Desktop) {

                @include Typer (SubTextInfoDesktop);    

            }
        }
    }
}
