// ProfileFollow Image

.ProfileFollow {

	&__CarouselItemImageContainer {

		border-radius: 50%;

		@include HoverCard;

		@include Spekter(1_1);

		&::before {

			border-radius: 50%;
			font-size: 90px !important; // Placeholder Icon | Unique Case

		}
	}

	&__CarouselItemImage {

		border-radius: 50%;
		height: 100%;

		@include Themer(border, Color-3, 'solid 2px');

	}
}
