// HighImpactJustifiedLeftTypeC Right Items Caption

.HighImpactJustifiedLeftTypeC {

    &__RightItemCaption {

        display: block;
        height: 65px;
        overflow: hidden;
        padding: 5px;
        position: relative;
        width: 100%;

        @include Themer(background, Color-1);

    }
}
