// HighImpactJustifiedLeftTypeC Right Item Info

.HighImpactJustifiedLeftTypeC {

    &__RightItemInfoContainer {

        display: inline-block;
        position: absolute;
        width: 50%;

    }

    &__RightItemInfo {

        @include Themer(color, Text-Light-Body);
        @include Typer(SubTextInfo);

    }
}
