// HighImpactJustifiedLeftTypeC Right Items Core

.HighImpactJustifiedLeftTypeC {

    &__RightItems {

        grid-area: RightItems;
        text-decoration: none;

    }

    &__RightItem {

        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        text-decoration: none;
        width: 100%;

        @include HoverCard;
        @include Themer(background, Color-1);

        @include Morpher(Laptop) {

            align-items: flex-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;

        }
    }
}
