// HighImpactJustifiedLeftTypeC Right Items Label

.HighImpactJustifiedLeftTypeC {

    &__RightItemLabelContainer {

        bottom: 0px;
        max-width: 50%;
        overflow: hidden;
        padding: 5px;
        position: absolute;
        text-align: left;

        @include Themer(background, Color-1);

    }

    &__RightItemLabel {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

        @include Morpher(All-Desktop) {

            @include Typer(SubTextInfoDesktop);

        }
    }
}
