// Mosaic Item button

%Mosaic {

    &__ButtonContainer {

        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        margin: 20px auto;

        //importar mixin margen

    }

    &__Button {

		cursor: pointer;
		display: block;
		height: 45px;
		width: 200px;

    }
}
