// RelatedContent2 Share

%RelatedContent2{

    &__Share {

        display:flex;
        position: absolute;
        right: 7px;
        bottom: 9px;

        @include Spacer(margin, all, md auto);

        @include Morpher (All-Desktop) {

            bottom: 0;
    
        }
    }

    &__ShareList {

        @include Spacer(padding, all, zero);

    }

    &__ShareItem {

        display: inline-block;
        font-size: 30px;
        list-style: none;
        max-height: 35px;

        @include Spacer(padding, all, zero sm);

    }

    &__ShareLink {

        text-decoration: none;

        &::before {

            font-size: 30px;

        }
    }    
}
