// ArticleRight Right Content Text

@include ThemerUI(ArticleRight) {

    @include Element(Text) {

        @extend %ArticleRight__Text;

        p {

            color: #5e6276; //   Develop
            text-align: justify;

            @include Spacer(margin, all, base zero);
            @include Typer(ItemTitleDescription);

            @include Morpher(All-Desktop) {

                @include Typer(BodyTextSubtitle);

            }
        }

    }

    @include Element(Subtitle) {

        @extend %ArticleRight__Subtitle;

    }

    p img {

        display: block;
        max-width: 100%;
        width: 100%;

        @include Spacer(margin, all, lg zero);

        @include Morpher(All-Desktop) {

            max-width: 80%;
            width: 80%;

        }
    }

}
