// TvGuideBold PostLive Show Core

.TvGuideBold {

    &__PostShowContainer {

        display: block;
        height: 100%;
        min-width: 308px;
        padding: 10px;
        text-decoration: none;
        width: 100%;

        @include Hover;


        @include Morpher(Tablet) {

            min-width: 352px;
            padding: 7px 2px 0px 5px;

        }

        @include Morpher(All-Desktop) {

            min-width: 375px;
            padding: 7px 15px 0px 5px;

        }
    }
}
