// DataLight Info Hash

%DataLight {

    &__InfoHash {

        align-items: center;
        border-radius: 5px;
        display: none;
        height: 30px;
        justify-content: center;
        right: 0px;
        width: 100%;

        @include Spacer(margin,right, sm);
        @include Hover(.3s, .5);

        
        &-First {

            align-items: center;
            border-radius: 5px;
            display: flex;
            height: 30px;
            justify-content: center;
            right: 0px;
            width: 100%;

            @include Spacer(margin,right, sm);
            @include Spacer(padding,all, xs);
            @include Hover(.3s, .5);

        }
    }
}
