// Inline Gallery Carousel Button

.InlineGallery {

    &__CarouselButton {

        background: none;
        border: 0px;
        cursor: pointer;
        height: 60px;
        width: 40px;

        @include Themer(color, Color-7);

        &:focus {

            outline: none;

        }
    }
}
