// Inline Gallery Carousel Thumb

.InlineGallery {

    &__CarouselThumbContainer {

        display: flex;
        margin-left: 4px;
        min-width: 190px;

        @include OrcaMarginReset;

    }

    &__CarouselThumbnails {

        display: flex;
        height: 170px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        
        @include Morpher(All-Desktop) {
            
            overflow: hidden;
            
        }
    }
}
