// FourItemsV Title

.FourItemsV {

	@include WidgetBottomSpace;

	&__TitleContainer {

		align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        margin: 10px auto;
		min-width: 180px;

	}

	&__Title {

		align-items: center;
        box-sizing: border-box;
        display: flex;
        height: 45px;
        justify-content: center;
        padding: 0px 15px;
        position: relative;
        text-align: center;
        width: auto;

		@include Themer(background, Color-1);
        @include Themer(color, Text-Light-Headlines);
		@include Typer(ItemTitle);

        @include Morpher(All-Desktop) {

            @include Typer(HeadlineSubDesktop);

        }

	}
}
