// Mosaic Item Image

@include ThemerUI(Mosaic){

        @include Element(ItemImageContainer) {

            @extend %Mosaic__ItemImageContainer;

            &::before {

    		content: '';
    		display: block;
    		border-radius: 20px;
    		height: 156px;
    		width: 100%;
    		background: rgba(230,230,230,0);

    	        &:hover {
    				.Mosaic__ItemImage {

    					transform: scale(1.05) translateZ(2);
    				}
    			}
    		}

        }

        @include Element(ItemImage) {

            @extend %Mosaic__ItemImage;

        }
};
