// Positions Info Hash

%Positions {
    
    &__InfoHash {

        border-radius: 5px;
        display: none;
        height: 30px;
        justify-content: center;
        right: 0;
        width: 100%;
        
        @include Spacer(margin,right, sm);

		@include HoverButton;
        
        @include Morpher(Tablet) {
            
            display: flex;
            
            @include Spacer(margin,right, xs);
            
        }
        
        @include Morpher(All-Desktop) {
            
            display: flex;
            
        }
    }
}
