// Positions Info Core

%Positions {
    
    &__InfoContainer {

        position: unset;
        right: 0px;
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include Spacer(margin,right, zero);
        
        @include Morpher(Tablet) {
            
            position: absolute;
            width: 71%;
            
        }
        
        @include Morpher(Laptop) {

            position: absolute;
            width: 78%;
            
            @include Spacer(margin,right, xs);
            
        }
        
        @include Morpher(Desktop) {

            position: absolute;
            width: 79%;
            
            @include Spacer(margin,right, xs);
            
        }
        
        @include Morpher(Desktop-HD) {
            
            position: absolute;
            width: 80%;
            
            @include Spacer(margin,right, xs);
            
        }
    }
    
    &__Info {
        
        display: flex;
        height: 30px;
        width: 44%;
        
        @include Morpher(Tablet) {

            width: 100%;
            
            @include Layout(Wrapper);
            @include Spacer(margin,all, zero auto);

        }
        
        @include Morpher(All-Desktop) {

            width: 100%;
            
            @include Layout(Wrapper);
            @include Spacer(margin,all, zero auto);

        }
    }
}
