// Tv Guide Full Show Core

.TvGuideFull {

	&__Show {

		display: flex;
		height: 130px;
		margin-bottom: 10px;
		text-decoration: none;

		@include Hover;
		@include Themer(background, Color-9);
		@include Themer(color, Text-Light-Body);

		@include Morpher(Tablet) {

			height: 120px;

		}

		@include Morpher(All-Desktop) {

			height: 90px;

		}

		&-Active {

			display: flex;
			height: 130px;
			margin-bottom: 10px;
			text-decoration: none;

			@include Hover;
			@include Themer(background, Color-1);
			@include Themer(color, Text-Light-Body);

			@include Morpher(Tablet) {

				height: 120px;

			}

			@include Morpher(All-Desktop) {

				height: 90px;

			}
		}

		&-ActiveTV {

			display: flex;
			height: 130px;
			margin-bottom: 10px;
			text-decoration: none;

			@include Hover;
			@include Themer(background, Color-1);
			@include Themer(color, Text-Light-Body);

			@include Morpher(Tablet) {

				height: 120px;

			}

			@include Morpher(All-Desktop) {

				height: 90px;

			}
		}
	}
}
