// Tv Guide Full Show Description

.TvGuideFull {

    &__ShowDescription {

        display: block;
        margin-top: 5px;
        
        @include Themer(color, Text-Light-Body);
        @include Typer(SubTextCredit);

        @include Morpher(Tablet) {

            margin-top: 10px;

        }

        @include Morpher(All-Desktop) {

            margin-top: 5px;

        }
    }
}
