// Tv Guide Full Show Link

.TvGuideFull {

	&__ShowLinkContainer {

		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		margin: 15px;
		position: relative;
		width: 12%;

		@include Morpher(Tablet) {

			width: 5%;

		}
		
		@include Morpher (Laptop) {
			
			margin: 0px 20px;
			
		}
	}
}
