// Tv Guide Full Show Time

.TvGuideFull {

	&__ShowTimeTvContainer {


		display: block;
		position: relative;
    	width: 34%;

		@include Themer(background, Color-11);

		@include Morpher(All-Desktop) {

			width: 166px;

		}
	}

	&__ShowTimeTv {

		display: flex;
		justify-content: center;
	    position: relative;
	    top: 35%;

		@include Themer(color, Text-Light-Body);
		@include Typer(SubTextInfo);

		@include Morpher(Tablet) {

			top: 30%;

		}

		@include Morpher(All-Desktop) {

			top: 45%;

			@include Typer(ItemTitle);

		}

		&-Active {

			display: flex;
			justify-content: center;
			position: relative;
		    top: 3%;

			@include Themer(color, Text-Light-Headlines);
			@include Typer(SubTextInfo);

			@include Themer(background, Color-7, before) {

				animation-play-state: running;
				animation: pulsar 2s .5s ease-in-out infinite;
				border-radius: 50%;
				height: 7px;
				left: 5px;
				position: relative;
				top: 25px;
				width: 7px;

			}

			@include Morpher(Tablet) {

				@include Themer(background, Color-7, before) {

					animation-play-state: running;
					animation: pulsar 2s .5s ease-in-out infinite;
					border-radius: 50%;
					height: 7px;
					left: 0px;
					position: relative;
					top: 23px;
					width: 7px;

				}
			}


			@include Morpher(All-Desktop) {

				@include Typer(ItemTitleDescription);

				@include Themer(background, Color-7, before) {

					animation-play-state: running;
					animation: pulsar 2s .5s ease-in-out infinite;
					border-radius: 50%;
					height: 7px;
					left: 25px;
					position: absolute;
					top: 4px;
					width: 7px;

				}

			}
		}
	}
}

@keyframes pulsar {

	0% {

		height: 8px;
		opacity: 0;
		transform: scale(0.2);
		width: 8px;

	}

	50% {

		height: 7px;
		opacity: 1;
		width: 7px;

	}

	100% {

		height: 8px;
		opacity: 0;
		transform: scale(1);
		width: 8px;

	}
}
