// EndCard ElementsThumb

.EndCard {

    &__ElementsThumbContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 414px;
        padding: 0px 20px;
        position: absolute;
        top: 9px;
        width: 100%;

        @include Morpher(All-Desktop) {

            max-width: 620px;
            top: 6%;

        }
    }
}
