// EndCard ElementsThumbTextTitle

%EndCard {

    &__ElementsThumbTextTitleContainer {

        height: 100%;
        max-height: 33px;
        max-width: 400px;
        overflow: hidden;
        width: 100%;

        @include Morpher(All-Desktop) {

            height: 100%;
            max-height: 66px;

            @include Spacer(margin, all, md zeroo);

        }
    }

    &__ElementsThumbTextTitle {

        display: block;

    }
}
