// EventList Headlines Container

%EventList {
	
	&__HeadlinesContainer {
		
		align-items: center;
		box-sizing: border-box;
		display: flex;
		height: 100%;
		min-height: 58px;
		border-radius: 8px;
		
		@include Spacer(padding, all, zero);
		@include Spacer(margin, all, md zero);
		@include Hover;
		
	}
	
	&__Headlines {
		
		align-items: center;
		cursor: pointer;
		display: flex;
		justify-content: center;
		position: relative;
		text-decoration: none;
		width: 100%;
		min-height: 112px;
		
		@include Hover;
		
		&:first-of-type {
			
			&::before {
				
				display: none;
				
			}
		}
	}
}
