// EventList Item Core

%EventList {
	
	&__MoreContainer {
		
		align-items: center;
		display: flex;
		height: 40px;
		justify-content: flex-end;
		text-decoration: none;
		width: 100%;
		
		@include Hover;
		
	}
	
	&__More {
		
		@include Spacer(margin, right, md);
		
	}
}
