// Calendar Title

@include ThemerUI(Calendar) {

    @include Element(CurrentDateContainer) {

        @extend %Calendar__CurrentDateContainer;

        @include Themer(background, Color-6, before) {

            content: " ";
            height: 2px;
            position: absolute;
            top: 0px;
            width: 40%;
            z-index: 2;

        }

    }
};
