// Calendar Title

@include ThemerUI(Calendar) {

    @include Element(CurrentDateDay) {

        @extend %Calendar__CurrentDateDay;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(FooterTextContact);
        @include Shadow;

    }

    @include Element(CurrentDateNumber) {

        @extend %Calendar__CurrentDateNumber;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitleDescription);
        @include Shadow;

    }

    @include Element(CurrentDateMonth) {

        @extend %Calendar__CurrentDateMonth;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(FooterTextContact);
        @include Shadow;

    }

    @include Element(CurrentDateTimeContainer) {

        @extend %Calendar__CurrentDateTimeContainer;

        @include Themer(color, Text-Light-Headlines);

    }

    @include Element(CurrentDateTimeHour) {

        @extend %Calendar__CurrentDateTimeHour;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);
        @include Shadow;

    }

    @include Element(CurrentDateTimeMinutes) {

        @extend %Calendar__CurrentDateTimeMinutes;

        @include Themer(color, White, before) {

            content: " : ";
            position: relative;
            animation: time 2s .5s ease-in-out infinite;
            animation-play-state: running;

        }

        @include Themer(color, Text-Light-Headlines, after) {

            content: " PM ";
            position: relative;

        }

        @keyframes time {

        	0% {

        		opacity: 0.2;

        	}

        	50% {

        		opacity: 1;

        	}

        	100% {

        		opacity: 0.2;

        	}
        }

        @include Themer(color, Text-Light-Headlines);
        @include Typer(ItemTitle);
        @include Shadow;
    }

    @include Element(CurrentImageContainer) {

        @extend %Calendar__CurrentImageContainer;

    }

    @include Element(CurrentImage) {

        @extend %Calendar__CurrentImage;

    }
};
