// MatchLive Selector

.MatchLive {
    
    &__ButtonContainer {
        
        background: #f5f5f5;
        top: 25%;
        display: flex;
        height: 40px;
        left: 0px;
        max-height: 186px;
        position: absolute;
        width: 100%;
        z-index: 10;
        
        @include Spacer(padding,all, zero);
        @include Spacer(margin, all, zero auto);
        
        @include Morpher(Tablet) {
            
            top: 18%;
            
        }
        
        @include Morpher(Laptop) {
            
            top: 13%;
            
        }
        
        @include Morpher(Desktop) {
            
            top: 15%;
            
        }
        
        @include Morpher(Desktop-HD) {
            
            top: 15%;
            
        }
    }
    
    &__MoreButton {
        
        &-Inactive {
            
            background: #e6e6e6;
            cursor: pointer;
            height: 35px;
            width: 300px;
            
            animation: pulsar 2s .7s ease-in-out infinite;
            animation-play-state: running;
            
            @include Spacer(margin, all, zero auto);

        }
    }
}

@keyframes pulsar {

	0% {

		opacity: 0.3;

	}

	50% {

		opacity: 1;

	}

	100% {

		opacity: 0.3;

	}
}