// MatchLive Selector

.MatchLive {
    
    &__Selector {
        
        display: flex;
        height: 50px;
        max-width: 1260px;
        overflow: hidden;
        position: relative;
        width: 100%;
        justify-content: center;
        
        animation: pulsar 2s .7s ease-in-out infinite;
        animation-play-state: running;
        
        @include Spacer(margin,all, zero auto);
        
        @include Morpher(All-Desktop) {
            
            justify-content: left;
            
            @include Spacer(margin,all, zero lg lg);
            
        }
    }
    
    &__SelectorLeague {
        
        height: 35px;
        position: relative;
        width: 300px;
        background: #e6e6e6;
        
        @include Spacer(margin,all, base zero);
        
    }
}

@keyframes pulsar {

	0% {

		opacity: 0.3;

	}

	50% {

		opacity: 1;

	}

	100% {

		opacity: 0.3;

	}
}