// Article Title

@include ThemerUI(Article) {

    @extend %Article;

    @include Themer(color, Text-Dark-Body);
    @include Themer(background, Color-4);
    @include Typer(md2, $FSMIN:$f-base);

    a {

        @include Themer(color, Color-3);

    }

    h2 {

        @include Themer(color, Text-Dark-Body);
        @include Typer(lg-b2, $LS: 0.2px);

    }

    p {

        @include Typer(md2, $FSMIN:$f-base, $FSMAX:$f-m, $LS: 0.2px);

    }
}

.Infinite__Scroll-Container {

    &::before {

        content: '';
        display: block;
        height: 15px;
        position: relative;
        width: 100%;

        @include Themer(background, Color-3);
        @include Spacer(margin, all, zero auto);

    }
}
