// Positions List Core

%Positions {
    
    &__ListContainer {

        margin-top: 7px;
        width: 100%;
        
        @include Morpher(Tablet) {
            
            margin-top: 60px;
            
        }
        
        @include Morpher(All-Desktop) {
            
            margin-top: 60px;
            
        }
    }
    
    &__ListElement {

        display: flex;
        margin-bottom: 10px;
		text-decoration: none;
        border-radius: 5px;

    }
}
