// Positions List Info

.Positions {
    
    &__ListInfoContainer {

        align-items: center;
        display: none;
        justify-content: center;
        margin: 9px;
        width: 9%;
        
        @include Morpher(Tablet) {
            
            display: flex;
            margin: 20px;
            
        }
        
        @include Morpher(All-Desktop) {
            
            display: flex;
            margin: 20px;
            
        }
        
        &-Pts {
            
            align-items: center;
            display: flex;
            justify-content: center;
            margin: 9px;
            width: 30%;
            
            @include Morpher(Tablet) {
                
                width: 9%;
                justify-content: center;

            }
            
            @include Morpher(All-Desktop) {
                
                width: 9%;
                justify-content: center;

            }
        }
    }
    
    &__ListInfo {
        
        @include Typer(ItemTitle);
        
        @include Morpher(All-Desktop) {
            
            @include Typer(ItemTitleDescription);
            
        }
    }
}
