// Positions List Core

.Positions {
    
    &__ListContainer {

        margin-top: 60px;
        width: 100%;
 
    }
    
    &__ListElement {

        display: flex;
        margin-bottom: 10px;
		text-decoration: none;
        border-radius: 5px;

		@include Themer(background, Color-2);
		@include Themer(color, Text-Light-Body);
        
        &:hover {
            
            @include Themer(background, Color-11);
            
        }
    }
}
