// Positions List Core

%Positions {
    
    &__ListContainer {

        width: 100%;
        
        @include Spacer(margin,top, md);
        
        @include Morpher(Tablet) {
            
            @include Spacer(margin,top, 4xl);
            
        }
        
        @include Morpher(All-Desktop) {
            
            @include Spacer(margin,top, 4xl);
            
        }
    }
    
    &__ListElement {

        display: flex;
        margin-bottom: 10px;
		text-decoration: none;
        border-radius: 5px;
        
        @include Spacer(margin,bottom, md);

    }
}
