// Positions List Info

%Positions {
    
    &__ListInfoContainer {

        align-items: center;
        display: none;
        justify-content: center;
        width: 9%;
        
        @include Spacer(margin,all, md);
        
        @include Morpher(Tablet) {
            
            display: flex;
            
            @include Spacer(margin,all, xl);
            
        }
        
        @include Morpher(All-Desktop) {
            
            display: flex;
            
            @include Spacer(margin,all, xl);
            
        }
        
        &-First {
            
            align-items: center;
            display: flex;
            justify-content: center;
            width: 20%;
            
            @include Spacer(margin,all, xs);
            
            @include Morpher(Tablet) {

                width: 9%;
                
                @include Spacer(margin,all, xl);

            }
            
            @include Morpher(All-Desktop) {

                width: 9%;
                
                @include Spacer(margin,all, xl);

            }
        }
    }
    
    &__ListInfo {

    }
}
