// Positions List Image

%Positions {
    
    &__ListImageContainer {

        border-radius: 5px;
        cursor: pointer;
        height: auto;
        padding: 5px 0px;
        width: 94px;
        
        @include Spacer(padding,all, sm zero);
        
        @include Morpher(Tablet) {
            
            padding: 7px 8px 7px 0px;
            @include Spacer(margin,all, sm sm sm zero);
            
        }
    }
    
    &__ListImage {
        
        border-radius: 5px;
        position: relative;
        top: 5px;
        width: 60px;
        
        &:hover {

            content: "";
            filter: blur(2px);
            transition: opacity 500ms;
            
        }
    }
}
