// Positions List Title

.Positions {
    
    &__ListTitleContainer {

        align-items: center;
        display: flex;
        width: 150px;
        
        @include Morpher(All-Desktop) {
            
            width: 120px;
            
        }
    }
    
    &__ListTitle {
        
        @include Typer(ItemTitle);
        
        @include Morpher(All-Desktop) {
            
            @include Typer(ItemTitleDescription);
            
        }
    }
}
