// Positions List Title

%Positions {
    
    &__ListTitleContainer {

        align-items: center;
        display: flex;
        width: 100%;
        max-width: 100px;

    }
    
    &__ListTitle {
        
    }
}
