// Positions List Title

%Positions {
    
    &__ListTitleContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        max-width: 100px;
        width: 100%;

    }
    
    &__ListTitle {
        
    }
}
