// Grid Multi Content Item Image

%GridGallery {
	
	&__ItemImageContainer {
		
		@include Spekter(16_9);
		
		&:before {
			
			border-radius: 10px;
			
		}
	}
	
	&__ItemImage {
		
		border-radius: 10px;
		height: 100%;
		width: 100%;
		
	}
}
