// HighImpactJustifiedLeftTypeC Slider Item Core

.HighImpactJustifiedLeftTypeC {

    &__Slider {

        grid-area: Slider;

    }

    &__SliderItem {

        height: 100%;
        text-decoration: none;
        width:100%;

    }
}
