// HighImpactJustifiedLeftTypeC Slider Item Video

.HighImpactJustifiedLeftTypeC {

    &__SliderItemVideoContainer {

        @include Spekter(16_9);

        top: 0px;
        position: absolute;

    }

    &__SliderItemVideo {

        position: absolute;
        top: 0px;
        width: 100%;

    }
}
