// HighImpactJustifiedLeftTypeC Slider Item Thumbnail

.HighImpactJustifiedLeftTypeC {

    &__SliderItemThumbnail {

        display: block;
        height: auto;
        min-height: 370px;
        position: relative;
        width: 100%;

        @include Morpher(Tablet) {

            min-height: 400px;

        }

        @include Morpher(All-Desktop) {

            height: 100%;
            min-height: 330px;
            position: inherit;

        }

    }
}
