// HighImpactJustifiedLeftTypeC Slider Item Image

.HighImpactJustifiedLeftTypeC {

    &__SliderItemImageContainer {

        position: absolute;
        z-index: 2;

        @include Spekter(16_9);

        @include Morpher(All-Desktop) {

            position: absolute;
            z-index: 2;

        }

    }
}
