// High Impact Justified Left Source

.HighImpactJustifiedLeftTypeC {

    &__SliderItemSourceContainer {

        display: block;
        height: auto;
        margin: 90.25% 0% 0;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        @include Morpher(Laptop) {

			margin: inherit;
            padding: 10px 10px 5px;
            position: relative;
			top: 79%;
            z-index: 2;

        }

        @include Morpher(Desktop) {

			display: block;
			height: auto;
            margin: inherit;
            padding: 5px 5px;
            position: relative;
            top: 68%;
            z-index: 2;

        }

		@include Morpher(Desktop-HD) {

			display: block;
			height: auto;
            margin: inherit;
            padding: 5px 5px;
            position: relative;
            top: 68%;
            z-index: 2;

        }

    }

    &__SliderItemSource {

        padding: 5px;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextCredit);

        @include Morpher(All-Desktop) {

            @include Typer(SubTextCreditDesktop);

        }
    }
}
