// HighImpactJustifiedLeftTypeC Slider Item Label
.HighImpactJustifiedLeftTypeC {

    &__SliderItemLabelContainer {

        margin: 57.25% 2% 0%;
        min-width: 100px;
        position: absolute;
        top: 0px;
        transform: translateY(-57.25%);
        width: auto;
        z-index: 3;

        @include Morpher(All-Desktop) {

            bottom: 30%;
            left: 1%;
            margin: 0px;
            top: inherit;
            transform: translateY(0px);

        }
    }

    &__SliderItemLabel {

        align-items: center;
        display: flex;
        height: 28px;
        justify-content: center;
        min-width: 100px;
        padding: 0px 10px;
        text-transform: uppercase;
        width: auto;

        @include Themer(background, Color-3);
        @include Themer(color, Text-Dark-Body);
        @include Typer(HeaderLink);

    }
}
