// Ticker Carousel Button

.Ticker {

	&__CarouselButton {

		background: none;
        cursor: pointer;
        width: 15px;

		@include Hover;
        @include Themer(color, White);

		&:focus {

			outline: none;

		}
    }
}
