// Header Navigation

.Header {

    &__Navigation {

        grid-area: navigation;
        display: flex;
        flex-wrap: wrap;

        @include Morpher(All-Desktop) {

            align-items: center;
            display: flex;
            justify-content: center;

        }
    }
}
