// TvGuide Item Active Core

.TvGuide {

    &__LiveTvShowContainer {

        display: block;
        height: 100%;
        min-width: 210px;
        padding: 10px;
        text-decoration: none;
        width: 100%;

        @include Hover;
        @include Themer(background, Color-1);

        @include Morpher(Tablet) {

            display: block;
            height: 100%;
            min-width: 210px;
            text-decoration: none;
            width: auto;

            @include Hover;
            @include Themer(background, Color-1);

        }

        @include Morpher(All-Desktop) {

            display: block;
            height: 100%;
            min-width: 210px;
            text-decoration: none;
            width: auto;

            @include Hover;
            @include Themer(background, Color-1);

        }
    }
}
