// TvGuide Item Active LiveShow

.TvGuide {

    &__LiveTvShow {

        padding: 0px 10px 10px 10px;
        position: relative;

    }

    &__LiveTvShow.Vertical {

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

    }
}
