// Footer Copyright

.Footer {

    &__Copyright {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 50px);
        justify-content: center;
        width: 100%;

        @include Layout(Full);

        @include Morpher(All-Desktop) {

            display: grid;
            grid-template-columns: 70px 333px;
            grid-template-rows: repeat(1, 50px);
            justify-content: center;

        }

        .Icn_Logo {

            font-size: 70px;

        }
    }

    &__MainLogo {

        align-items: center;
        display: flex;
        justify-content: center;

        @include Themer(color, Color-12);

        @include Morpher(All-Desktop) {

            display: flex;
            justify-content: center;

        }
    }

    &__TextContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        width: 280px;

        @include Themer(color,Color-12);

        @include Morpher(All-Desktop) {

            justify-content: left;
            margin-left: 3px;
            width: 290px;

        }
    }

    &__Text {

        text-align: center;

        @include Typer(FooterTextCopyright);

    }
}
