// Footer Networks

.Footer {
    
    &__Networks {

        font-size: 15px;
        height: 30px;
        padding: 5px;
        width: 170px;

        @include Themer(color, Text-Light-Body);
        @include Themer(background, Color-14);

        &:focus {

            outline: none;

        }

        option {

            text-align: center;

        }
    }

    &__NetworkLink {

        align-items: center;
        display: flex;
        justify-content: center;

        @include Hover;

    }
}
