// SlideshowCard Share Bar Icons Desktop

@include ThemerUI(ShareBar) {

	@include Element(ShareBarDesktop) {

		.Icn_Twitter {

			color: #1DA1F2;

			@include Hover;

            @include Morpher(All-Desktop) {
                font-size: 30px;
            }

		}

		.Icn_Facebook {

			color: #1877F2;

			@include Hover;

            @include Morpher(All-Desktop) {
                font-size: 30px;
            }

		}

		.Icn_Instagram {

			color: #F00175;

			@include Hover;

            @include Morpher(All-Desktop) {
                font-size: 30px;
            }

		}

		.Icn_Email {

			color: #4D442A;

			@include Hover;

            @include Morpher(All-Desktop) {
                font-size: 30px;
            }

		}
	}
}
