// Item Type A Title

.Items {

	&__ItemTypeATitleContainer {

		padding-bottom: 25px;

		@include Morpher(All-Desktop) {

			padding-bottom: 15px;

		}

		@include Morpher(Laptop) {

			padding-bottom: 12px;

		}
	}

	&__ItemTypeATitle {

		@include Typer(ItemTitle);

		font-size: 30px;
		line-height: 32px;

		@include Morpher(All-Desktop) {

			font-size: 24px;
			line-height: 26px;

		}

		@include Morpher(Laptop) {

			font-size: 20px;
			line-height: 22px;

		}
	}
}
