// Mosaic Item Image

%Mosaic {

    &__ItemImageContainer {

        display: block;
		position: relative;
		width: 100%;

        @include Spekter(16_9);

        &:before {
		content: '';
		display: block;
		height: 158px;
		width: 100%;

        }
    }

    &__ItemImage {

    height: 100%;
    background-position: center;
    filter: brightness(0.90) saturate(1.2) contrast(0.85);
    position: absolute;
    transform: scale(1) translateZ(0);
    transition: filter 200ms linear, transform 200ms linear;

    }

    .Mosaic__ItemImageContainer:hover .Mosaic__ItemImage{

      transform: scale(1.05) translateZ(0);
    }

    .Mosaic__Item:hover .Mosaic__ItemImageContainer:not(:hover) .Mosaic__ItemImage{

      filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
    }
}
