// Mosaic Item Image

%Mosaic {

    &__ItemImageContainer {

		position: relative;
		width: 100%;
        display: block;

        @include Spekter(16_9);

        &::before {

		content: '';
		display: block;
		border-radius: 20px;
		height: 156px;
		width: 100%;
		background: rgba(230,230,230,0);

	        &:hover {
				.Mosaic__ItemImage {

					transform: scale(1.05) translateZ(2);
				}
			}
		}
	}


    &__ItemImage {

		background-position: center;
	  	filter: brightness(0.90) saturate(1.2) contrast(0.85);
	  	position: absolute;
	  	transform: scale(1) translateZ(0);
	  	transition: filter 200ms linear, transform 200ms linear;
	    border-radius: 20px;
	    height: 100%;

    }

}
