// Mosaic Item Logo

%Mosaic {

    &__ItemLogoContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
        top: 25%;
        width: 100%;

    }

    &__ItemLogo {

        width: 50%;

    }
}
