// LiveToolBar Bar Core

.LiveToolBar {

    &__BarContainer {

        align-items: center;
        bottom: 0px;
        display: flex;
        height: 58px;
        position: fixed;
        width: 100%;
        z-index: 10;

        @include Themer(background, Color-6);
        
    }
}
