//Inline Video Item Time

.InlineVideo {

    &__ItemPlayerTimeContainer {

        bottom: 28%;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;
        z-index: 2;

        @include Morpher(Tablet) {

            bottom:32%;

        }

        @include Morpher(All-Desktop) {

            bottom: 39%;

        }
    }

    &__ItemPlayerTime {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
