// Header LinksNetworksItem

.Header {

    &__NetworksContainer {

        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 200px;

    }

    &__NetworksItem {

        @include Themer(color, White);

        @include Hover;

        &::before {

            font-size: 25px !important;

        }
    }
}
