// Header LinksNetworks More

.Header {

    &__MoreContainer {

        margin-bottom: 2em;
        display: flex;
        justify-content: center;

    }

    &__More {

        letter-spacing: 3.36px;
        text-align: center;
        text-transform: uppercase;

        @include Typer(HeaderLink);
        @include Themer(color, White);

    }
}
