// Header LinksNetworksCore

.Header {

    &__LinksNetworks {

        width: 100%;
        padding: 1em 0px;

        @include Themer(border-bottom, Color-13 ,"1px solid");

        @include Morpher(All-Desktop) {
            display: none;
        }

    }
}
