// RelatedContent3 Core

%RelatedContent3{

		display: block;
		height: auto;
    max-width: 728px;
		padding:30px 0px;
    position:relative;
		width: 100%;

			&::after {

					bottom: 0px;
	        content: '';
					height: 4px;
	        position: absolute;
	        width: 96px;
	        right: 35%;
					z-index: 1;

	    }

	    &::before {
	        content: '';
	        position: absolute;
	        height: 4px;
	        top: 0px;
	        right: 35%;
					width: 96px;
					z-index: 1;

	    }

    @include Spacer(margin, all, 4xl auto);
    @include Spacer(padding, all, 2xl auto);

    @include Morpher (All-Desktop) {

        @include Spacer(padding, all, 2xl auto);

				display: flex;

				&::after {

						bottom: 0px;
						content: '';
            height: 4px;
						position: absolute;
            right: 45%;
						width: 96px;
						z-index: 1;

        }

        &::before {

						content: '';
            height: 4px;
						position: absolute;
          	right: 45%;
            top: 0px;
						width: 96px;
						z-index: 1;

        }
    }
}
