// TvGuide Item Active Title

.TvGuide {

    &__LiveShow {

        width: 100%;

        &-Title {

            text-transform: uppercase;
            white-space: nowrap;

            @include Themer(color, Text-Light-Body);
            @include Typer(SubTextInfo);

        }
    }
}
