// Calendar Title

%Calendar {

    &__CurrentImageContainer {

        opacity: 0.5;
        overflow: hidden;
        top: 0px;
        z-index: 0px;

        @include Spekter(16_9, absolute);

    }

    &__CurrentImage{

        width: 100%;

    }
}
