// Calendar Title

%Calendar {

    &__CurrentDateContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 100%;

        @include Spacer(padding, all, sm zero md zero);

    }
}
