// MostViewed Ads

.MostViewed {

    &__AdsContainer {

        margin: 0px auto;
        width: 100%;

     @include Themer(background, Color-1);

    }

	.Banner {

		margin-left: 20px;
		top: 20px;

	}
}
