// SlideshowContainer Aside Ads

%SlideshowContainer {

    &__AsideAdsContainer {

        display: none;

        @include Morpher(All-Desktop) {

            align-items: flex-end;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            text-align: center;

            @include Spacer(margin, top, xl);

        }
    }
}
