// LeadVideo Item Player Icon Container

.LeadVideo {

	&__ItemPlayerIconContainer {

		position: absolute;
        top: 20%;
        width: 100%;
        z-index: 1;

		@include Morpher(Tablet) {

            top: 30%;

        }

		@include Morpher(Desktop) {

            top: 40%;

        }

        @include Morpher(All-Desktop) {

            top: 43%;

        }
	}

	&__ItemPlayerIcon {

        border-radius: 50%;
        height: 60px;
        margin: auto;
        width: 60px;

        @include Themer(background, Color-4);
        @include Themer(border, Color-1, 'solid 2px');

	}
}
