// LeadVideo Item Player Time Container

.LeadVideo {

    &__ItemPlayerTimeContainer {

        align-items: center;
        bottom: 31%;
        display: flex;
        justify-content: center;
        position: absolute;
        width: 100%;

        @include Morpher(Tablet) {

            bottom: 33%;

        }

        @include Morpher(Laptop) {

            bottom: 37%;

        }

        @include Morpher(Desktop) {

            bottom: 42%;

        }

        @include Morpher(Desktop-HD) {

            bottom: 45%;

        }
    }

    &__ItemPlayerTime {

        text-transform: uppercase;

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
