// SlideshowCard Share Bar Desktop

%SlideshowCard {

    &__ShareBarDesktop {

        align-items: left;
        display: flex;
        height: 62px;
        justify-content: left;
        padding: 16px 0px;
        width: auto;
    }
}
