// LiveStreaming Core

.LiveStreaming {
    
    &__Container {
        
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        max-width: 1440px;
        width: 100%;
        flex-direction: column-reverse;
        
        @include WidgetBottomSpace;

        @include Morpher(Desktop) {

            flex-direction: row;

        }

        @include Morpher(Desktop-HD) {

            flex-direction: row;

        }    
    }
}