// LiveStreaming SideBar

.LiveStreaming {
    
    &__SideBar {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 100%;
        margin: 10px 0px;
        position: relative;
        width: 100%;
        
        @include Themer(background, Color-8);

        @include Morpher(Laptop) {

            width: 100%;

        }

        @include Morpher(Desktop) {

            flex-direction: column;
            margin: 0px;
            width: 25%;

        }

        @include Morpher(Desktop-HD) {

            flex-direction: column;
            margin: 0px;
            width: 25%;

        }
    }
}