// Item Type C Description

.Items {

    &__ItemTypeCDescriptionContainer  {

        padding: 0px 12px;
        position: absolute;
        top: 76%;
        width: 100%;
        z-index: 1;

        @include Themer (color, White);

        @include Morpher(All-Desktop) {

			padding: 0px 20px;

		}

        @include Morpher(Laptop) {

            padding: 0px 15px;
            top: 71%;

	    }

        @include Morpher(Tablet) {

            padding: 0px 40px;
            top: 78%;

        }
    }

    &__ItemTypeCDescription {

        @include Typer(ItemTitleDescription);

        font-size: 18px;
        line-height: 20px;

        @include Morpher (All-Desktop) {

			@include Typer(ItemTitleDescriptionDesktop);

		}

        @include Morpher (Laptop) {

			@include Typer(ItemTitleDescription);

		}
    }
}
