// Item Type C Date

.Items {

	&__ItemTypeCDateContainer {

		bottom: 55px;
		display: inline-block;
		left: 32px;
		padding: 10px 0px;
		position: absolute;

		@include Morpher(All-Desktop) {

			left: 40px;

		}

        @include Morpher(Laptop) {

			bottom: 60px;
			left: 35px;
			padding: 0px;

	    }

        @include Morpher(Tablet) {

            left: 60px;

	    }
	}

	&__ItemTypeCDate {

		margin-left: 8px;

		@include Themer (color, White);
		@include Typer(SubTextInfo);

	}
}
