// Item Type C Logo

.Items {

	&__ItemTypeCLogoContainer {

		left: 12px;
		position: absolute;
        top: 52%;
		width: 30%;

		@include Morpher(All-Desktop) {

			left: 20px;

		}

        @include Morpher(Laptop) {

			left: 15px;
			top: 47%;

	    }

        @include Morpher(Tablet) {

            left: 40px;

	    }
	}

	&__ItemTypeCLogo {

		position: relative;
		z-index: 2;

	}
}
