// Item Type C Label

.Items {

	&__ItemTypeCLabelContainer {

		bottom: 25px;
		position: absolute;
		right: 25px;
		text-align: right;

		@include Morpher(Laptop) {

			bottom: 20px;
			right: 20px;

		}

		@include Morpher(Smartphone) {

			bottom: 12px;
			right: 12px;

		}
	}

	&__ItemTypeCLabel {

		text-transform: uppercase;

		@include Themer (color, White);
		@include Typer(SubTextInfo);

	}
}
