// Inline Video Share Bar Mobile

.InlineVideo {

    &__ShareBarMobile {

        bottom: 65px;
        position: absolute;
        width: 55px;
        z-index: 3;

        @include Morpher(Tablet) {

            position: absolute;

        }

        @include Morpher(All-Desktop) {

            display: none;
            position: absolute;

        }
    }
}
