// Mosaic Core

@include ThemerUI(Mosaic) {

    @extend %Mosaic;

    &::before {

        content: 'Micro Interactions - Blur, Hamburger, Social';
        width: 90%;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        @include Spacer(margin, all, xxl);
        @include Themer(color, White);
        @include Typer(sm-b, $FSMAX:$f-l, $FSMIN:$f-l);

        @include Morpher(All-Desktop) {

            width: 100%;

        }

    }

};
