// HighImpact Centered Slider Thumb

.HighImpactCentered {

    &__SliderThumbnails {

        display: flex;
        height: 100%;
        overflow: hidden;
        width: 100%;

    }

    &__SliderThumbnails::-webkit-scrollbar {

        display: none;

    }

    &__SliderThumbContainer {

        min-width: 100%;

    }
}
