// HighImpact Centered Slider Arrows

.HighImpactCentered {

    &__SliderArrow {

        &-Previous {

            -webkit-tap-highlight-color: transparent;
            align-items: center;
            bottom: 50%;
            cursor: pointer;
            display: flex;
            height: 60px;
            justify-content: flex-start;
            left: 0px;
            padding-top: 28.125%;
            position: absolute;
            top: 0%;
            user-select: none;
            width: 40px;
            z-index: 10;

            @include HoverButton;

        }

        &-Next {

            -webkit-tap-highlight-color: transparent;
            align-items: center;
            bottom: 50%;
            cursor: pointer;
            display: flex;
            height: 60px;
            justify-content: flex-end;
            padding-top: 28.125%;
            position: absolute;
            right: 0%;
            top: 0%;
            user-select: none;
            width: 40px;
            z-index: 10;

            @include HoverButton;

        }
    }
}
