// PromoCards Chapter Graphic

.PromoCards {

    &__CarouselItemChapterGraphicContainer {

        display: none;
        height: 110px;
        width: 100%;

        @include Spekter(16_9);

    }
}
