// ShareBar Link

.SocialFollow {

    &__ShareBarLink {

        display: block;
        height: 40px;
        width: 40px;
        position: relative;

        @include Themer(background,Color-1,after) {

            content: '';
            width: 1px;
            display: block;
            position: absolute;
            right: 0px;
            height: 100%;

            &:hover {

                opacity:0px;

            }
        }

        &:last-child {

            @include Themer(background,Color-1,after) {

                display: none;
                
            }
        }
    }
}
