// SlideshowContainer Silder Thumb

%SlideshowContainer {

    &__SliderThumbnails {

        align-items: center;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;

        @include Spacer(margin, all, zero auto);

    }

    &__SliderThumbContainer {

        min-width: 100%;
        position: relative;

    }
}
