// SlideshowContainer Slider Arrow Next

%SlideshowContainer {

    &__SliderArrow {

        &-Next {

            bottom: 50%;
            display: flex;
            height: 60px;
            position: absolute;
            right: 0px;
            transform: translateY(50%);
            width: 40px;
            z-index: 2;

            @include Hover($HTDuration:.3s, $HOpacity: .5);

            .Icn_ArrowRight {

                width: 40px;

                @include Spacer(padding, all, zero);

            }
        }
    }
}
