// SlideshowContainer Silder Counter

%SlideshowContainer {

    &__SliderCounterContainer {

        position: absolute;
        right: 30px;
        top: 20px;

        @include Morpher(All-Desktop) {

            right: 60px;
            top: 20px;

        }
    }

    &__SliderCounter {

        @include Spacer(padding, all, xs md);

        @include Morpher(All-Desktop) {

            @include Spacer(padding, all, sm md);

        }
    }
}
