// SlideshowContainer Silder Item Image

%SlideshowContainer {

    &__SliderItem {

        min-width: 100%;

    }

    &__SliderItemThumbnail {

        display: block;
        position: relative;

    }

    &__SliderItemImageContainer {

        @include Spekter(4_3);

    }

    &__SliderItemImageContainerV {

        @include Spekter(3_4);

    }

    &__SliderItemImage {

        height: 100%;
        object-fit: scale-down;
        object-position: 50% 50%;

    }
}
