// Globals | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

// Display

.Display {

    display: none;

}
.Active {

    display: flex;

}

// Body Black

.BodyBlack {

    background: black;

}

.GhostHeadlines {

    display: none;
    margin: 0px;

}

.jw-reset {

    transition-property: none;

}

// Font Fixes

h1, h2, h3, h4, h5, h6 {

   white-space: pre-wrap;

}
