////
/// @author WhiteLabel MarkUp
/// @since v2.1.0
/// @since 1/5/19
/// @since AtomicGhost

/// @group Interactions
/// @param {transition-duration} $HTDuration [.5s] - Éste valor determina la velocidad con la que se va a mostrar el efecto del Hover, cuando se tenga que aplicar este valor a un botón, éste tendrá que ser de .3s
/// @param {opacity} $HOpacity [.7] - Éste valor determina opacidad que se le aplica al elemento cuando el Hover se activa
/// @param {box-shadow} $HShadow [null] - Éste valor determina si se le aplica el box-shadow configurado por defecto al elemento cuando se activa el Hover, para realizar esa acción se le tiene que asignar el valor shadow
/// @param {text-decoration} $HDecoration [none] - Éste valor determina si se le aplica algún valor a la propiedad de text-decoration cuando se activa el Hover
/// @param {color} $HColor [Color-3] - Éste valor aplicar el color de la interacción al momento de activar el Hover, ésta propiedad solo admite valores de nuestra paleta de colores
/// @example
///   @include SpecialHover(.7s, .5, shadow, underline, Color-3);
///
///   .item {
///
///       transition: opacity .7s;
///
///       &:hover {
///
///           opacity: .5;
///           box-shadow: 0px 0px 20px #000000;
///           text-decoration: underline;
///           color: #E3E3E3;
///
///       }
///   }


@mixin SpecialHover ($HTDuration:.5s, $HOpacity: .7, $HShadow:null, $HDecoration:none, $HColor:Color-3){

    @include Transition($TDuration:$HTDuration);

    &:hover {

        opacity: $HOpacity;

        @if $HShadow == shadow {

            @include Themer(box-shadow, #000000, '0px 0px 20px');

        }

        text-decoration: $HDecoration;

        @include Themer(color, $HColor);

    }
}

@mixin Transition ($TProperty:opacity, $TDuration:0.5s, $TTiming:ease, $TDelay:0s, $Extras:null) {

    transition: $TProperty $TDuration $TTiming $TDelay, $Extras;

}

@mixin Hover {

    transition: opacity .5s;

    &:hover {

        opacity: .7;

    }
}

@mixin HoverCard {

    transition: opacity .5s;

    &:hover {

        opacity: .7;

        @include Themer(box-shadow, #000000, '0px 0px 20px');

    }
}

@mixin HoverButton {

    transition: opacity .3s;

    &:hover {

        opacity: .5;

    }
}

@mixin HoverUnderline {

	transition: opacity .5s;

	&:hover {

		opacity: .7;
		text-decoration: underline;

		@include Themer(color, Color-3);

	}
}
