// Interactions | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 1/5/19

// Hover for links and buttons

@mixin SpecialHover ($HTOpacity:.5s, $HOpacity: .7, $HShadow:null, $HDecoration:none, $HColor:Color-3){

    @include Transition($TDuration:$HTOpacity);

    &:hover {

        opacity: $HOpacity;

        @if $HShadow == shadow {

            @include Themer(box-shadow, #000000, '0px 0px 20px');

        }

        text-decoration: $HDecoration;

        @include Themer(color, $HColor);

    }
}

@mixin Transition ($TProperty:opacity, $TDuration:0.5s, $TTiming:linear, $TDelay:0s) {

    transition: $TProperty $TDuration $TTiming $TDelay;

}

@mixin Hover {

    transition: opacity .5s;

    &:hover {

        opacity: .7;

    }
}

@mixin HoverCard {

    transition: opacity .5s;

    &:hover {

        opacity: .7;

        @include Themer(box-shadow, #000000, '0px 0px 20px');

    }
}

@mixin HoverButton {

    transition: opacity .3s;

    &:hover {

        opacity: .5;

    }
}

@mixin HoverUnderline {

	transition: opacity .5s;

	&:hover {

		opacity: .7;
		text-decoration: underline;

		@include Themer(color, Color-3);

	}
}
