// TvGuide Carousel Container

.TvGuide {

    &__CarouselContainer {

        width: 100%;

        @include Morpher(Tablet) {

            width: 100%;

        }

        @include Morpher(Laptop) {

            width: 100%;

        }

        @include Morpher(Desktop) {

            width: 70%;

        }

        @include Morpher(Desktop-HD) {

            width: 70%;

        }
    }
    &__CarouselContainer.Vertical {

        width: 100%;

    }
}
