// SlideShow Slider Thumb

.SlideShow {
    
    &__SliderThumbnails {

        display: flex;
		height: 100%;
		margin: 0px auto;
		overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;

    }

    &__SliderThumbnails::-webkit-scrollbar {

        display: none;

    }

    &__SliderThumbContainer {

        min-width: 100%;

    }
}
