// Person

.Person {

    &__ItemThumbnail {

        display: flex;
        justify-content: center;

        @include Morpher(All-Desktop) {

            grid-area: Aside;
            min-width: 236px;
            padding: 5px;

        }
    }
}
