// Item Type A Icon

.Items {

    &__ItemTypeAIconContainer {

        position: absolute;
        top: 44%;
        width: 100%;
        z-index: 1;

        @include Morpher(All-Desktop) {

            top: 40%;

        }

        @include Morpher(Laptop) {

            top: 35%;

        }
    }

    &__ItemTypeAIcon {

        border-radius: 50%;
        height: 60px;
        margin: auto;
        width: 60px;

        @include Themer(background, Color-4);
        @include Themer(border, Color-1, 'solid 2px');

    }
}
