// Item Type A Video

.Items {

    &__ItemTypeAVideoContainer {

        display: none;
        padding-top: 100%;
        position: relative;
        width: 100%;

        @include Spekter(1_1);

    }

    &__ItemTypeAVideo {

        height: 100%;
        position: absolute;
        top: 0px;
        width: 100%;

    }
}
