// HighImpactJustifiedLeft Slider Item Duration

.HighImpactJustifiedLeft {

    &__SliderItemDurationContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 85%;
        width: 100%;

        @include Morpher(Tablet) {
            
            height: 50px;
            margin-top: 10px;
            top: 50%;

        }

        @include Morpher(Laptop) {
            
            margin-top: 10px;
            top: 64%;

        }

        @include Morpher(Desktop) {

            top: 64%;

        }

        @include Morpher(Desktop-HD) {

            top: 59%;

        }
    }

    &__SliderItemDuration {

        @include Themer(color, Text-Light-Headlines);
        @include Typer(SubTextInfo);

    }
}
