// HighImpactJustifiedLeft Slider Item Icon

.HighImpactJustifiedLeft {

    &__SliderItemIconContainer {

        align-items: center;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 39%;
        width: 100%;
        z-index: 2;

        @include Morpher(Tablet) {

            top: 37%;

        }

        @include Morpher(Laptop) {

            top: 46%;

        }

        @include Morpher(Desktop) {

            top: 48%;

        }

        @include Morpher(Desktop-HD) {

            top: 45%;

        }
    }

    &__SliderItemIcon {

        background: rgba(126, 132, 140, .8);
        border-radius: 50%;
        cursor: pointer;
        font-size: 25px;
        height: 50px;
        transition: opacity .5s;
        width: 50px;

    }
}
