// HighImpactJustifiedLeft Slider Item Core

.HighImpactJustifiedLeft {

    &__Slider {

        grid-area: Slider;

    }

    &__SliderItem {

        text-decoration: none;
        width:100%;

    }
}
