// Privacy Close

%Privacy {

    &__CloseContainer {

        bottom: 14px;
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 0px;

        @include HoverButton;

        @include Morpher(All-Desktop) {

            bottom: 6px;
            margin-top: 5px;
            right: 10px;

        }
    }

    &__Close {

		background: none;
        bottom: 0px;
        cursor: pointer;
        position: absolute;
        right: 1%;

        @include Themer(color, White);

    }
}
