// Item Type B Core

.Items {

	&__ItemTypeBCaption {

		bottom: 0px;
		height: 30%;
		padding: 12px;
		position: absolute;
		width: 100%;

		@include Themer(background, Color-1);
		@include Themer (color, White);

		@include Morpher(All-Desktop) {

			padding: 20px;

		}

		@include Morpher(Laptop) {

			padding: 15px;

		}

		@include Morpher(Tablet) {

			padding: 40px;

		}
	}
}
