// Item Type B Time

.Items {

	&__ItemTypeBTimeContainer {

		display: inline-block;
		padding: 12px 0px;

		@include Morpher(Laptop) {

			padding: 0px;

		}
	}

	&__ItemTypeBTime {

		@include Typer(SubTextInfo);

	}
}
