// Quote Container

@include ThemerUI(Quote) {

    @include Element(Thumbnail) {

        @extend %Quote__Thumbnail;

    }

    @include Element(Image) {

        @extend %Quote__Image;

        @include Themer(border, Color-12, "7px solid");

        background-image: url("/static/aspect-ratio-images/1x1-220x220.jpg");
        background-position: center;
        background-size: cover;

    }

    @supports (filter: blur(0px) contrast(50)) and (mix-blend-mode: luminosity) {

        %Quote__Image {

            overflow: hidden;
            position: relative;

        }

        %Quote__Image:after {

            background: inherit;
            bottom: 0px;
            content: '';
            display: block;
            filter: brightness(2) saturate(3) blur(0px) contrast(10);
            left: 0px;
            mix-blend-mode: luminosity;
            position: absolute;
            right: 0px;
            top: 0px;

        }
    }
};
