// SlideshowCard Silder Thumb

%SlideshowCard {

    &__SliderThumbnails {

        align-items: center;
        display: flex;
        margin: 0px auto;
        overflow-x: scroll;
        overflow-y: hidden;

    }

    &__SliderThumbContainer {

        min-width: 100%;
        min-height: 240px;
        position: relative;

        @include Morpher(All-Desktop) {

            @include Spacer(padding, all, sm);

        }

    }
}
