// SlideshowCard Silder Item Image

%SlideshowCard {

    &__SliderItem {

        min-width: 100%;

    }

    &__SliderItemThumbnail {

        display: block;
        position: relative;

    }

    &__SliderItemImageContainer {

        @include Spekter(3_4);

        @include Morpher(All-Desktop) {

            @include Spekter(4_3);

        }

    }


    &__SliderItemImage {

        height: 100%;
        object-fit: contain;
        object-position: 50% 50%;

    }
}
