// SlideshowCard SliderContainer Core

%SlideshowCard {

    &__AuthorContainer {

        display: flex;
        flex-direction: column;

        @include Morpher(All-Desktop) {

            min-width: 235px;

        }
    }

    &__Author {

        @include Spacer(margin,all, xs zero);

    }

    &__Date {

        @include Spacer(margin,all, sm zero);

    }
}
