// Arrow | WhiteLabel MarkUp v2.0.0 Atomic Ghost | 13/6/19

%Arrow {

    align-items: center;
    cursor: pointer;
    display: flex;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
    width: 40px;
    z-index: 3;

    &-Previous {

        @extend %Arrow;

        justify-content: flex-start;
        left: 0px;

    }

    &-Next {

        @extend %Arrow;

        justify-content: flex-end;
        right: 0px;

    }
}
