// Item Type B Image

.Items {

    &__ItemTypeBImageContainer {

        padding-top: 100%;
        position: relative;
        width: 100%;

        @include Spekter(1_1);

    }

    &__ItemTypeBImage {

        position: absolute;
        top: 0px;
        width: 100%;

    }
}
