// Item Type B Core

.Items {

    &__ItemTypeBThumbnail {

        display: block;
        height: 70%;
        position: absolute;
        top: 0px;
        width: 100%;

        @include Themer(background, Color-1);

    }
}
