// Item Type B Icon

.Items {

    &__ItemTypeBIconContainer {

        position: absolute;
        top: 58%;
        width: 100%;
        z-index: 1;
        
        @include Morpher(Tablet) {

            top: 63%;

        }

        @include Morpher(All-Desktop) {

            top: 58%;

        }
    }

    &__ItemTypeBIcon {

        border-radius: 50%;
        height: 60px;
        margin: auto;
        width: 60px;

        @include Themer(background, Color-4);
        @include Themer(border, Color-1, 'solid 2px');

    }
}
