// SlideshowCard Aside Ads

%SlideshowCard {

    &__AsideAdsContainer {

        display: none;
        background: none;

        @include Morpher(All-Desktop) {

            align-items: flex-end;
            display: flex;
            flex-grow: 1;
            justify-content: center;
            margin-top: 18px;
            text-align: center;

        }
    }
}
