// PromoCards Button Navigation Carousel Item Thumbnail

.PromoCards {

    &__CarouselItemButtonNavigationThumbnail {

        display: block;
        position: relative;
        width: 100%;

        @include Themer(background, Color-1, before) {

            background: linear-gradient(0deg,rgba(36,36,44,.8) 15%,rgba(36,36,44,0));
            content: "";
            height: 181px;
            position: absolute;
            width: 100%;
            z-index: 1;

			@include Morpher(All-Desktop) {

				height: 270px;

			}
	    }
    }
}
