// PromoCards Button Navigation Carousel Item Icon

.PromoCards {

    &__CarouselItemButtonNavigationIconContainer {

        display: block;
        position: absolute;
        top: 28%;
        width: 100%;
        z-index: 2;

    }

    &__CarouselItemButtonNavigationIcon {

        border-radius: 50%;
        font-size: 18px !important;
        height: 50px !important;
        margin: 0px auto;
        width: 50px !important;

        @include Hover;
        @include Themer(background, Color-2);
        @include Themer(border, Color-1, 'solid 2px');

    }
}
