// Inline Video Share Bar Mobile

.Share {

    &__ShareMobile {

        bottom: 269px;
        justify-content: center;
        position: relative;
        z-index: 3;

        @include Morpher(All-Desktop) {

            display: none;
            position: absolute;

        }
    }
}
