// ShareBar Trigger

.Share {

    &__ShareTrigger {

        cursor: pointer;
        display: inline-grid !important;
        height: 100%;
        margin: 0px auto;
        padding: 0px;
        width: 100%;
        
        @include Themer(background, Color-1);
        @include Themer(color, Text-Dark);
        
        &:focus {

            outline: none;

        }
        
        @include Morpher(All-Desktop) {
            
            display: none !important;
            
        }
    }
    
    &__ShareTriggerText {
        
        @include Themer(color, White);
        @include Typer(SubTextInfo);
        
    }
}
