// SlideshowContainer

.SlideshowContainer {

    &__TitleContainer {

        padding: 1em 5px;
        position: relative;
        margin-bottom: 10px;

        &::after {

            background: gray;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin: auto;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }
    }

    &__Title {

        color: white; //Develop no agarra el de abajo sin albur again

        @include Themer(color, Text-Light-Headlines);
        @include Typer(HeadlineMainDescription);

    }
}
