// SlideshowContainer

%SlideshowContainer {

    &__TitleContainer {

        position: relative;

        @include Spacer(padding, all, sm);
        @include Spacer(margin, bottom, md);

        &::after {

            background: gray;
            bottom: 0px;
            content: '';
            display: block;
            height: 2px;
            left: 0px;
            position: absolute;
            right: 0px;
            width: 100%;

            @include Spacer(margin, all, zero auto);

        }
    }

    &__Title {

        display: block;

    }
}
