// Card Container

%Card {

    &__Image {

        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        width:100%;

        @include Morpher(All-DesktopHD) {

            align-items: center;
            display: flex;
            justify-content: center;
            overflow: hidden;
            width:57%;

        }
    }

    &__Poster {

        width:100%;

    }
}
