// SocialFollow Copy

%Share {

	&__TitleContainer {

		display: none;

		@include Morpher(Tablet) {

			display: none;

		}

		@include Morpher(All-Desktop) {
			display: flex;
			height: 40px;
			justify-content: center;
			margin: 20px 0px 10px;
			width: 100%;

		}
	}

	&__Title {

		display: none;

		@include Morpher(Tablet) {

			display: flex;
			margin: 15px 10px;
			position: relative;

			@include Themer(color, Text-Light-Headlines);
			@include Typer(ItemTitle);

		}

		@include Morpher(All-Desktop) {

			display: flex;
			margin: 15px 10px;
			position: relative;

			@include Themer(color, Text-Light-Headlines);
			@include Typer(ItemTitle);

		}
	}
}
