// SixItems Item Icon

.SixItems {

	&__ItemIcon {

		border-radius: 50%;
		border-radius: 50px;
		left: 42%;
		position: absolute;
		top: 42%;
		height: 60px;
		width: 60px;

		@include Themer(background, Color-4);
		@include Themer(border, Color-1, 'solid 2px');

		@include Morpher(Tablet) {

			left: 48%;
			top: 45%;

		}
	}
}
