// PromoCards Section Thumbnail

.PromoCards {

    &__CarouselItemSectionThumbnail {

        display: block;
        position: relative;
        transition: transform .6s;

        @include Themer(background, Color-1, before) {

            background: linear-gradient(0deg,rgba(36,36,44,.8) 15%,rgba(36,36,44,0));
            content: "";
            height: 271px;
            position: absolute;
            width: 100%;
            z-index: 1;

        }
    }

    &__CarouselItemSectionThumbnail:Hover {

        box-sizing: border-box;
        outline: 8px solid #7e848c;
        transform: scale(1.05);
        z-index: 1;

    }
}
