// Newsletter Box Button

.NewsletterBox {

    &__RegisterContainer {
        
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin: 0px auto;
        position: relative;
        top: 10%;
        width: 100%;

        @include Hover;

        @include Morpher(All-Desktop) {

            top: 3%;

        }
    }

    &__Register {
        
        cursor: pointer;
        display: block;
		height: 45px;
		margin: auto;
        padding: 10px 20px;
		width: 180px;
        
        @include ButtonBorder;
        @include Themer(background, Color-1);
        @include Themer(color, White);
        @include Typer(SubTextButtonDesktop);

        @include Morpher(All-Desktop) {

            padding: 10px;

        }
    }
}
